{% if content %}
    <div class="row ">
          {{ content }}
    </div>
        <div class="row ">
        <div class="col-6 col-sm-6 float-left">
            <div class="footer-copyright mt-4 mb-4 ml-4 caption">
                © 2020 All Rights Reserved
            </div>
        </div>
        <div class="col-6 col-sm-6 footer-minimal">
            <div class="footer-social a-light float-right mb-4 mt-4 mr-4">
                {# Social #}
                {{ dupela_icon_navigation }}
            </div>
        </div>
    </div>
{% endif %}