<div class="footer content-area container mega-footer">
    <div class="row">
        <div class="col-12  col-sm-6 col-md-2">
            <div class="footer-company-name pt-4  text-4 font-weight-bold text-color-light"> Dupela </div>
            <div class="footer-message caption">
                We are students of life that is driven to evolve and share what ever We see fit that will benefits our
                future progress in life.
            </div>
            <div class="footer-info-address footer-links a-light pt-4">
                <div class="contact pb-2"> <h4> Contact: </h4> </div>
                <address class="caption">
                    Milk weed St. , Brgy Rizal <br>
                    Makati, PH <br>
                    <a href="#"> Contact Us</a>
                    <div class="pt-2">

                    </div>
                    <a href="mailto:dupelawebsite@gmail.com">dupelawebsite@gmail.com</a>
                </address>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-auto">
            <div class="footer-links a-light p-md-4 pt-4">

                <div class="footer-nav-header text-uppercase"> <h5>Navigation </h5> </div>

                <ul class="footer-nav-links pt-2">
                    <li> <a href="#"> Documentation </a></li>
                    <li><a href="#">Feedback </a></li>
                    <li><a href="#">Feedback </a></li>
                    <li><a href="#">Feedback </a></li>
                    <li><a href="#">Feedback </a></li>
                    <li><a href="#">Feedback </a></li>
                    <li><a href="#">Feedback </a></li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-auto">
            <div class="footer-links a-light p-md-4 pt-4 ">
                <div class="footer-nav-header text-uppercase"> <h5> Articles </h5> </div>
                {{#repeat 3}}

                <div class="footer-list-news">
                    <div class="footer-news-title">
                        <a href=""> Lorem ipsum dolor sit amet, consectetur </a>
                    </div>
                    <div class="footer-news-date caption">
                        10th July 2019
                    </div>
                </div>
                {{/repeat}}
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4">

            <div class="row footer-info">
                <div class="col">
                    <div class="footer-count pt-4">
                        <h4> 30 </h4>
                    </div>
                    <div class="footer-count-title caption">
                         Article 
                    </div>
                </div>
                <div class="col">
                    <div class="footer-count pt-4">
                        <h4> 30 </h4>
                    </div>
                    <div class="footer-count-title caption">
                        Current Subcribers
                    </div>
                </div>
            </div>
            <div class="footer-text pt-4">
                <h6> Subscribe to Our Newsletter to get Important News, Amazing Offers & Inside Scoops:</h6>
            </div>
            <div class="input-group mb-3 pt-4">
                <input type="email" class="form-control" placeholder="Search" aria-label="email"
                    aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-light border-left" type="button" id="button-addon2">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-6 col-sm-6 float-left">
            <div class="footer-copyright mt-4 mb-4 ml-4 caption">
                © 2020 All Rights Reserved
            </div>
        </div>
        <div class="col-6 col-sm-6 footer-minimal">
            <div class="footer-social a-light float-right mb-4 mt-4 mr-4">
                <a href="https://www.facebook.com/"><span class="fab fa-facebook fa-2x"></span></a>
                <a href="#" class=""><span class="fab fa-twitter fa-2x"></span></a>
                <a href="#" class=""><span class="fab fa-youtube fa-2x"></span></a>
                <a href="#" class=""><span class="fab fa-github fa-2x"></span></a>
                <a href="#" class=""><span class="fab fa-discord fa-2x"></span></a>
                <a href="#" class=""><span class="fas fa-user fa-2x"></span></a>
            </div>
        </div>
    </div>
</div>