<div class="footer content-area container">
    <div class="footer-minimal text-center">
        <div class="footer-company-name pt-4 text-4 font-weight-bold text-color-light">
            Dupela
        </div>
        <div class="footer-message pb-4">
            We are students of life that is driven to evolve and share what ever We see fit that will benefits our
            future progress in life.
        </div>
        <div class="footer-social pt-4 pb-4 a-light">
            <a href="https://www.facebook.com/"><span class="fab fa-facebook fa-2x"></span></a>
            <a href="#" class=""><span class="fab fa-twitter fa-2x"></span></a>
            <a href="#" class=""><span class="fab fa-youtube fa-2x"></span></a>
            <a href="#" class=""><span class="fab fa-github fa-2x"></span></a>
            <a href="#" class=""><span class="fab fa-discord fa-2x"></span></a>
            <a href="#" class=""><span class="fas fa-user fa-2x"></span></a>
        </div>
        <div class="footer-copyright pb-4 pt-4 caption">
            © 2020 All Rights Reserved
        </div>
    </div>
</div>