<div class="footer content-area container all-footer">
    <div class="row">
        <div class="col-12 col-md-2">
            <div class="footer-company-name pt-4 font-weight-bold text-color-light text-3"> Dupela </div>
            <div class="footer-message caption">
                We are students of life that is driven to evolve and share what ever We see fit that will benefits our
                future progress in life.
            </div>
        </div>
        <div class="col-12 col-md-10">
            <div class="footer-links a-light p-md-4 pt-4 text-uppercase">
                <div class="row float-md-right float-left">
                    <div class="col-12 col-sm-auto">
                        <a href="./"> Home</a>
                    </div>
                    <div class="col-12 col-sm-auto">
                        <a href="pagearticle.html">Article</a>
                    </div>
                    <div class="col-12 col-sm-auto">
                        <a href="./">About</a>
                    </div>

                    <div class="col-12 col-sm-auto">
                        <a href="./">Contact Us</a>
                    </div>

                    <div class="col-12 col-sm-auto">
                        <a href="./">Site Map</a>
                    </div>

                </div>
            </div>
        </div>
    
        <div class="col-6 col-sm-6  float-left">
            <div class="footer-copyright mt-4 mb-4 caption text-color-light">
                © 2020 All Rights Reserved
            </div>

        </div>
        <div class="col-6 col-sm-6 footer-minimal">
            <div class="footer-social a-light float-right mb-4 mt-4 text-5">
                <a href="https://www.facebook.com/"><span class="fab fa-facebook"></span></a>
                <a href="#" class=""><span class="fab fa-twitter "></span></a>
                <a href="#" class=""><span class="fab fa-youtube "></span></a>
                <a href="#" class=""><span class="fab fa-github "></span></a>
                <a href="#" class=""><span class="fab fa-discord "></span></a>
                <a href="#" class=""><span class="fas fa-user "></span></a>
            </div>
        </div>
    </div>


</div>