<div class="content-title text-center mt-4">
  Collapsible "Close All" at Load - Single Open - Click on Heading
</div>

<div id="accordion" class="accordion-single accordion p-4">
  <div class="card mb-0">
    <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
      <a class="card-title"> Item 1 </a>
    </div>
    <div id="collapseOne" class="card-body collapse" data-parent="#accordion">
      <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
        officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
        moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
        keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
        butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
        haven't heard of them accusamus labore sustainable VHS. </p>
    </div>
    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
      <a class="card-title"> Item 2 </a>
    </div>
    <div id="collapseTwo" class="card-body collapse" data-parent="#accordion">
      <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
        officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
        moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
        keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
        butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
        haven't heard of them accusamus labore sustainable VHS. </p>
    </div>
    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
      <a class="card-title"> Item 3 </a>
    </div>
    <div id="collapseThree" class="collapse" data-parent="#accordion">
      <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
        squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
        shoreditch et. samus labore sustainable VHS. </div>
    </div>
  </div>
</div>

<div class="content-title text-center mt-4 ">
  Collapsible "Open First Item" at Load - Multiple Open - Click on Heading
</div>

<div id="accordion" class="accordion-first-single accordion p-4">
  <div class="card mb-0">
    <div class="card-header" id="collapsed-item" data-toggle="collapse" href="#b1">
      <a class="card-title"> Item 1 This </a>
    </div>
    <div id="b1" class="card-body collapse show">
      <p>Anim pariatur cliche reprehenderit,
        enim eiusmod high life accusamus terry
        richardson ad squid. 3 wolf moon officia
        aute, non cupidatat skateboard dolor brunch.
        Food truck quinoa nesciunt laborum eiusmod.
        Brunch 3 wolf moon tempor, sunt aliqua put a
        bird on it squid single-origin coffee nulla
        assumenda shoreditch et. Nihil anim keffiyeh
        helvetica, craft beer labore wes anderson cred
        nesciunt sapiente ea proident. Ad vegan excepteur
        butcher vice lomo. Leggings occaecat craft beer
        farm-to-table, raw denim aesthetic synth nesciunt
        you probably haven't heard of them accusamus
        labore sustainable VHS.
      </p>
      <p>Anim pariatur cliche reprehenderit,
        enim eiusmod high life accusamus terry
        richardson ad squid. 3 wolf moon officia
        aute, non cupidatat skateboard dolor brunch.
        Food truck quinoa nesciunt laborum eiusmod.
        Brunch 3 wolf moon tempor, sunt aliqua put a
        bird on it squid single-origin coffee nulla
        assumenda shoreditch et. Nihil anim keffiyeh
        helvetica, craft beer labore wes anderson cred
        nesciunt sapiente ea proident. Ad vegan excepteur
        butcher vice lomo. Leggings occaecat craft beer
        farm-to-table, raw denim aesthetic synth nesciunt
        you probably haven't heard of them accusamus
        labore sustainable VHS.
      </p>
    </div>
    <div class="card-header" id="collapsed-item" data-toggle="collapse" href="#b2">
      <a class="card-title"> Item 2 </a>
    </div>
    <div id="b2" class="card-body collapse">
      <p>Anim pariatur cliche reprehenderit,
        enim eiusmod high life accusamus terry
        richardson ad squid. 3 wolf moon officia
        aute, non cupidatat skateboard dolor brunch.
        Food truck quinoa nesciunt laborum eiusmod.
        Brunch 3 wolf moon tempor, sunt aliqua put a
        bird on it squid single-origin coffee nulla
        assumenda shoreditch et. Nihil anim keffiyeh
        helvetica, craft beer labore wes anderson cred
        nesciunt sapiente ea proident. Ad vegan excepteur
        butcher vice lomo. Leggings occaecat craft beer
        farm-to-table, raw denim aesthetic synth nesciunt
        you probably haven't heard of them accusamus
        labore sustainable VHS.
      </p>
    </div>
    <div class="card-header" id="collapsed-item" data-toggle="collapse" href="#b3">
      <a class="card-title"> Item 3 </a>
    </div>
    <div id="b3" class="collapse">
      <div class="card-body">
        <p>Anim pariatur cliche reprehenderit,
          enim eiusmod high life accusamus terry
          richardson ad squid. 3 wolf moon officia
          aute, non cupidatat skateboard dolor brunch.
          Food truck quinoa <a href="#"> LINK >>>>>>> </a>
          Brunch 3 wolf moon tempor, sunt aliqua put a
          bird on it squid single-origin coffee nulla
          assumenda shoreditch et. Nihil anim keffiyeh
          helvetica, craft beer labore wes anderson cred
          nesciunt sapiente ea proident. Ad vegan excepteur
          butcher vice lomo. Leggings occaecat craft beer
          farm-to-table, raw denim aesthetic synth nesciunt
          you probably haven't heard of them accusamus
          labore sustainable VHS.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="content-title text-center mt-4">
  Collapsible "Close All" at Load - Multiple Open - Click on Title
</div>


<div id="accordion" class="accordion-multiple accordion p-4">

  <div class="card mb-0">
    <div class="card-header">
      <a class="card-link collapsed" data-toggle="collapse" href="#c1">
        Collapsible Group Item #1 sample
      </a>
    </div>
    <div id="c1" class="collapse">
      <div class="card-body">
        Lorem ipsum..
      </div>
    </div>

    <div class="card-header">
      <a class="card-link collapsed" data-toggle="collapse" href="#c2">
        Collapsible Group Item #2
      </a>
    </div>
    <div id="c2" class="collapse">
      <div class="card-body">
        Anim pariatur cliche reprehenderit,
        enim eiusmod high life accusamus terry
        richardson ad squid. 3 wolf moon officia
        aute, non cupidatat skateboard dolor brunch.
        Food truck quinoa nesciunt laborum eiusmod.
        Brunch 3 wolf moon tempor, sunt aliqua put
        a bird on it squid single-origin coffee nulla
        assumenda shoreditch et. samus labore sustainable VHS.
      </div>
    </div>

    <div class="card-header ">
      <a class="card-link collapsed" data-toggle="collapse" href="#c3">
        Collapsible Group Item #3
      </a>
    </div>
    <div id="c3" class="collapse">
      <div class="card-body">
        Lorem ipsum..
      </div>
    </div>
  </div>

</div>

<div class="content-title text-center mt-4">
  Collapsible "Open First Item" at Load - Multiple Open - Click on Title
</div>

<div id="accordion" class="accordion-first-multiple accordion p-4">

  <div class="card mb-0">
    <div class="card-header">
      <a class="card-link" id="collapsed-item" data-toggle="collapse" href="#d1">
        Collapsible Group Item #1
      </a>
    </div>
    <div id="d1" class="collapse show">
      <div class="card-body">
        Lorem ipsum..
      </div>
    </div>

    <div class="card-header">
      <a class="card-link" id="collapsed-item" data-toggle="collapse" href="#d2">
        Collapsible Group Item #2
      </a>
    </div>
    <div id="d2" class="collapse">
      <div class="card-body">
        Lorem ipsum..
      </div>
    </div>

    <div class="card-header ">
      <a class="card-link" id="collapsed-item" data-toggle="collapse" href="#d3">
        Collapsible Group Item #3
      </a>
    </div>
    <div id="d3" class="collapse">
      <div class="card-body">
        Lorem ipsum..
      </div>
    </div>
  </div>

</div>