<div class="content-title text-center mt-4">
    Horizontal Tabs
</div>

<div class="accordion-wrap container-fluid d-flex flex-column">

    <div class="row">
        <div class="col-12">
            <div class="accordion-tab-menu tab-menu-horizontal mx-auto p-2 d-flex flex-md-row flex-column ">
                <a href="#h1" class="btn btn-outline-primary btn-lg active"> Tab title Long</a>
                <a href="#h2" class="btn btn-outline-primary btn-lg"> Tab 2</a>
                <a href="#h3" class="btn btn-outline-primary btn-lg"> Tab Again long</a>
                <a href="#h4" class="btn btn-outline-primary btn-lg"> Tab 4</a>
                <a href="#h5" class="btn btn-outline-primary btn-lg"> Tab 3 Oww Long Long title</a>
            </div>
        </div>
        <div class="col-12">
            <div class="accordion-content-tab tab-content-horizontal mx-auto">
                <div class="active-content"> 1 Lorem ipsum, dolor sit amet consectetur
                    1 adipisicing elit. Non voluptates architecto,
                    magni officia similique tempora quis quia
                    harum eos sunt, ex in culpa amet rem quaerat
                    aliquam necessitatibus est expedita?
                </div>
                <div class="hidden-content panel-content">2 Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Non voluptates architecto,
                    magni officia similique tempora quis quia
                    harum eos sunt, ex in culpa amet rem quaerat
                    aliquam necessitatibus est expedita?
                </div>
                <div class="hidden-content panel-content">3 Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Non voluptates architecto,
                    magni officia similique tempora quis quia
                    harum eos sunt, ex in culpa amet rem quaerat
                    aliquam necessitatibus est expedita?
                </div>
                <div class="hidden-content panel-content">4 Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Non voluptates architecto,
                    magni officia similique tempora quis quia
                    harum eos sunt, ex in culpa amet rem quaerat
                    aliquam necessitatibus est expedita?
                </div>
                <div class="hidden-content panel-content">5 Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Non voluptates architecto,
                    magni officia similique tempora quis quia
                    harum eos sunt, ex in culpa amet rem quaerat
                    aliquam necessitatibus est expedita?
                </div>

            </div>
        </div>
    </div>





    <div class="seperator accordion-wrap">
        <div class="content-title text-center mt-4">
            Horizontal Tabs - Bootstrap
        </div>

        <div class="row accordion-wrap mx-auto p-2">
            <div class="col-sm-12">
                <div class="list-group list-group-horizontal-sm" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-hori-first" data-toggle="list"
                        href="#list-1-hori" role="tab" aria-controls="list-1-hori">Hori 1</a>
                    <a class="list-group-item list-group-item-action" id="list-hori-second" data-toggle="list"
                        href="#list-2-hori" role="tab" aria-controls="list-2-hori">Hori 2</a>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="tab-content p-2" id="tabHorizontalContent">
                    <div class="tab-pane fade show active" id="list-1-hori" role="tabpanel"
                        aria-labelledby="list-hori-first">
                        1 Lorem ipsum, dolor sit amet consectetur 1 adipisicing elit.
                        Non voluptates architecto, magni officia similique tempora quis
                        quia harum eos sunt, ex in culpa amet rem quaerat aliquam
                        necessitatibus est expedita?</div>
                    <div class="tab-pane fade" id="list-2-hori" role="tabpanel" aria-labelledby="list-hori-second">
                        <p>2 Lorem ipsum, dolor sit amet consectetur 1 adipisicing elit.
                            Non voluptates architecto, magni officia similique tempora quis
                            quia harum eos sunt, ex in culpa amet rem quaerat aliquam
                            necessitatibus est expedita?</p>
                        <p>2 Lorem ipsum, dolor sit amet consectetur 1 adipisicing elit.
                            Non voluptates architecto, magni officia similique tempora quis
                            quia harum eos sunt, ex in culpa amet rem quaerat aliquam
                            necessitatibus est expedita?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>