<div class="content-title text-center">
    Vertical Tabs
</div>
<div class="accordion-wrap vertical container seperator">

    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="accordion-tab-menu tab-menu-vertical d-flex flex-column">
                <a href="#v1" class="btn btn-outline-primary btn-lg active"> Tab 1</a>
                <a href="#v2" class="btn btn-outline-primary btn-lg"> Tab 2 Very Very Long</a>
                <a href="#v3" class="btn btn-outline-primary btn-lg"> Tab 3 Oww Long Long title</a>
                <a href="#v4" class="btn btn-outline-primary btn-lg"> Tab 4</a>
                <a href="#v5" class="btn btn-outline-primary btn-lg"> Tab 5 Long</a>
            </div>
        </div>

        <div class="col-md-8 col-sm-12">
            <div class="accordion-content-tab tab-content-vertical">
                <div class="active-content panel-content"> 1 Lorem ipsum, dolor sit amet consectetur
                    1 adipisicing elit. Non voluptates architecto,
                    magni officia similique tempora quis quia
                    harum eos sunt, ex in culpa amet rem quaerat
                    aliquam necessitatibus est expedita?
                </div>
                <div class="hidden-content panel-content">2 Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Non voluptates architecto,
                    magni officia similique tempora quis quia
                    harum eos sunt, ex in culpa amet rem quaerat
                    aliquam necessitatibus est expedita?
                </div>
                <div class="hidden-content panel-content">3 Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Non voluptates architecto,
                    magni officia similique tempora quis quia
                    harum eos sunt, ex in culpa amet rem quaerat
                    aliquam necessitatibus est expedita?
                </div>
                <div class="hidden-content panel-content">4 Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Non voluptates architecto,
                    magni officia similique tempora quis quia
                    harum eos sunt, ex in culpa amet rem quaerat
                    aliquam necessitatibus est expedita?
                </div>
                <div class="hidden-content panel-content">5 Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Non voluptates architecto,
                    magni officia similique tempora quis quia
                    harum eos sunt, ex in culpa amet rem quaerat
                    aliquam necessitatibus est expedita?
                </div>
            </div>
        </div>
    </div>

</div>

<div class="seperator p-2">
    <div class="content-title text-center">
        Vertical Tabs Bootstrap
    </div>
    <div class="row accordion-wrap mx-auto p-2">
        <div class="col-md-4 col-sm-12">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
                    href="#list-home" role="tab" aria-controls="home">Home</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                    href="#list-profile" role="tab" aria-controls="profile">Profile</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
                    href="#list-messages" role="tab" aria-controls="messages">Messages</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
                    href="#list-settings" role="tab" aria-controls="settings">Settings</a>
            </div>
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="tab-content p-2" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                    ... 1 Lorem ipsum, dolor sit amet consectetur 1
                    adipisicing elit. Non voluptates architecto, magni officia similique tempora quis quia harum eos
                    sunt, ex in culpa amet rem quaerat aliquam necessitatibus est expedita?
                </div>
                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                    adipisicing elit. Non voluptates architecto,
                    magni officia similique tempora quis quia
                    harum eos sunt, ex in culpa amet rem quaerat
                    aliquam necessitatibus est expedita?
                </div>
                <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                    adipisicing elit. Non voluptates architecto,
                    magni officia similique tempora quis quia
                    harum eos sunt, ex in culpa amet rem quaerat
                    aliquam necessitatibus est expedita?
                </div>
                <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                    ... 4
                </div>
            </div>
        </div>
    </div>
    <div class="content-title text-center">
        Vertical Tabs Bootstrap - flush border
    </div>
    <div class="row accordion-wrap mx-auto p-2">
        <div class="col-md-4 col-sm-12">

            <div class="list-group list-group-flush" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-first" data-toggle="list"
                    href="#list-1" role="tab" aria-controls="list-1">Cras justo odio</a>
                <a class="list-group-item list-group-item-action" id="list-second" data-toggle="list" href="#list-2"
                    role="tab" aria-controls="list-2">Dapibus ac facilisis in</a>
            </div>

        </div>
        <div class="col-md-8 col-sm-12">
            <div class="tab-content p-2" id="tabContent">
                <div class="tab-pane fade show active" id="list-1" role="tabpanel" aria-labelledby="list-first">... 1
                </div>
                <div class="tab-pane fade" id="list-2" role="tabpanel" aria-labelledby="list-second">... 2</div>
            </div>
        </div>
    </div>
</div>