<div class="seperator p-2">

    <div class="glo-article-heading mb-2">
        <div class="article-title"> <span>Dupela Progress Bar</span> </div>
    </div>
    <div class="progress-bar-dupela progress-bar-wrap p-4">

        <div class="container-bar">
            <div class="label text-uppercase">
                HTML
            </div>
            <div class="progress-bar-type mb-2 color-primary fill-x100 text-center">
                100%
            </div>
        </div>

        <div class="container-bar">
            <div class="label">
                CSS
            </div>
            <div class="progress-bar-type color-warning fill-x100 ">

            </div><span class="text-color-primary"> 100%</span>
        </div>

        <div class="container-bar">
            <div class="label">
                CSS
            </div>
            <div class="progress-bar-type color-warning fill-x80 ">

            </div><span class="text-color-primary"> 80%</span>
        </div>

        <div class="label">
            HTML
        </div>

        <div class="container-bar">
            <div class="progress-bar-type color-lighten fill-x80 ">

            </div><span class="text-color-primary"> 80%</span>
        </div>

        <div class="label">
            PHP
        </div>
        <div class="container-bar">
            <div class="progress-bar-type mb-2 color-warning fill-x90 text-center">
                90%
            </div>
        </div>

    </div>
</div>