<div class="seperator mx-auto display-block">

    <div class="row">
        <div class="col-12 col-md-6 col-lg-3">
            <div class="circle-wrap">
                <div class="circle">

                    <div class="mask full fill-72">
                        <div class="fill fill-72"></div>
                    </div>

                    <div class="mask half">
                        <div class="fill fill-72"></div>
                    </div>

                    <div class="inside-circle ">
                        72%
                    </div>

                </div>
            </div>
            <div class="text-4 text-center">
                SAMPLE
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="circle-wrap">
                <div class="circle">

                    <div class="mask full fill-96">
                        <div class="fill fill-96"></div>
                    </div>

                    <div class="mask half">
                        <div class="fill fill-96"></div>
                    </div>

                    <div class="inside-circle">
                        96%
                    </div>

                </div>
            </div>

            <div class="text-4 text-center">
                SAMPLE
            </div>

        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="circle-wrap">
                <div class="circle">

                    <div class="mask full fill-39">
                        <div class="fill fill-39"></div>
                    </div>

                    <div class="mask half">
                        <div class="fill fill-39"></div>
                    </div>

                    <div class="inside-circle">
                        39%
                    </div>

                </div>
            </div>
            <div class="text-4 text-center mb-4">
                SAMPLE
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="circle-wrap">
                <div class="circle">

                    <div class="mask full fill-63">
                        <div class="fill fill-63"></div>
                    </div>

                    <div class="mask half">
                        <div class="fill fill-63"></div>
                    </div>

                    <div class="inside-circle">
                        63%
                    </div>

                </div>
            </div>

            <div class="text-4 text-center">
                SAMPLE
            </div>

        </div>
    </div>

   

</div>