<div class="seperator">
    <div class="row dupela-counter-wrap">
        <div class="col-6 col-md-6 col-lg-3 count-container">
            <div class="text-2 count-num">
                197
            </div>
            <div class="count-title text-4">
                Project
            </div>

        </div>
        <div class="col-6 col-md-6 col-lg-3 count-container">
            <div class="text-2 count-num">
                23
            </div>
            <div class="count-title text-4">
                Wtite Ups
            </div>

        </div>
        <div class="col-6 col-md-6 col-lg-3 count-container">
            <div class="text-2 count-num">
                98
            </div>
            <div class="count-title text-4">
                Visitors
            </div>
        </div>
        <div class="col-6 col-md-6 col-lg-3 count-container">
            <div class="text-2 count-num">
                7230
            </div>
            <div class="count-title text-4">
                Subscribers
            </div>
        </div>
    </div>
</div>