<div class="content-area container seperator text-white color-lighten">
    <div class="page-title">
        Article Archive
    </div>
    <div class="page-description mt-4">
        There are alot of things , browse some of the written goodess here check out the dropdown for your category.
    </div>

    <div class="page-article-category row container mt-4 mb-4">
        <div class="col-12 col-md-5 mt-2">
            <select class="form-control col-lg-5">
                <option>Articles Category</option>
            </select>
        </div>

        <div class="col-auto mt-2">
            <a href="#" class="btn btn-secondary"> Category 70 </a>
        </div>
        <div class="col-auto mt-2">
            <a href="#" class="btn btn-secondary" > Information 70 </a>
        </div>
        <div class="col-auto mt-2"> 
            <a href="#" class="btn btn-secondary"> Project 70 </a>
        </div>
        <div class="col-auto mt-2">
            <a href="#" class="btn btn-secondary"> Drive Information 70 </a>
        </div>

    </div>
</div>