
    {{#repeat 3}}
<div class="row">
    {{#repeat 3}}
    <div class="col-12  col-lg-4">
        <div class="article-post  p-2 mt-4">
            <div class="article-image">
                <img src="/img/blog/b3.jpeg">
            </div>
        
            <div class="article-information">
                <span class="article-type"> <a href="#">Article </a> </span> <span class="article-date"> Febuary 12,
                    2020</span>
            </div>
            <div class="article-title">
                <a href="pagearticleread.html"> Sports Cars That Start With M (Luxury and Expensive Cars) </a>
            </div>
            <div class="article-profile m-2">
                <div class="article-img-author d-flex flex-row">
                    <div class="article-img-wrap">
                        <a href="#"><img src="./img/img_avatar.png" alt="Avatar"> </a>
                    </div>
        
                    <div class="article-author-wrap ml-2 d-flex flex-column">
                        <div class="article-heading-author">Author</div>
                        <div class="article-name">
                            <a href="#">Ronryan Teano</a>
                        </div>
        
                    </div>
                </div>
        
            </div>
        
            <div class="article-teaser">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an unknown printer took
                    a galley of type and scrambled it to make a type specimen
                    book. It has survived not only five.
                </p>
            </div>
            <div class="article-read-more mt-2">
                <a href="#" class="btn btn-primary">Read Full Article</a>
            </div>
            <div class="article-category mt-2 d-flex">
                <div class="ml-auto"> <a href="#"> Test </a> , <a href="#"> Another Test </a> </div>
            </div>
        </div>
    </div>
    {{/repeat}}
</div>
{{/repeat}}

<div class="content-area mx-auto">
    <section class="section">
        <div class="container">
            {{> pagination}}
        </div>
        
    </section>

</div>
