<div class="content-area container seperator text-white color-lighten">
    <div class="page-title">
        Articles
    </div>
    <div class="page-description mt-4">
       There are alot of things , browse some of the written goodess here check out the dropdown for your category. 
    </div>

    <div class="page-article-category row container mt-4 mb-4">
        <div class="col">
            <select class="form-control col-lg-5">
                <option>Articles Category</option>
            </select>
        </div>

        <div class="col-auto">
            Articles 70
        </div>

    </div>
</div>