{{#ifpage 'pagearticlereadwimg'}}
{{> postwithimage}}
{{/ifpage}}

<p align="center"><em>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat esse officiis laboriosam,
    explicabo voluptatem quo in natus provident, quae minima et at quibusdam delectus minus asperiores, ex placeat modi
    nulla?</em><br />

</p>

<p><strong>Lorem ipsum, dolor </strong> sit amet consectetur adipisicing elit. Ab sit adipisci libero voluptate
  doloremque sint earum alias distinctio rem. Tempora mollitia magnam aliquam officia unde molestias possimus quod
  pariatur suscipit!</p>

<p><strong>Fourth Quarter Highlights</strong></p>

<ul type="disc">
  <li>Morbi tristique senectus et netus et. Aenean pharetra magna ac placerat.
    Ac ut consequat semper viverra nam libero. Mauris pharetra et
    ultrices neque. Egestas tellus rutrum tellus pellentesque eu tincidunt.
  </li>
  <li>Commodo viverra maecenas accumsan. Est ullamcorper eget nulla facilisi etiam. Sed vulputate mi sit amet mauris
    commodo quis imperdiet.</li>
  <li>Ut enim blandit volutpat maecenas volutpat blandit aliquam. Eget gravida cum sociis natoque penatibus et.
    Malesuada nunc vel risus. </li>


</ul>

<p><strong>Code sample check Prism</strong></p>

<ol type="1">
  <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis doloremque nobis ea laborum et placeat est.
    Adipisci quidem quia voluptatem? Numquam magnam expedita asperiores ipsam! Natus asperiores est nisi vero?</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua.</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Lacus viverra vitae congue eu.</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Pharetra massa massa ultricies mi quis. Lacus viverra vitae congue eu consequat ac felis donec.
    </money>
  </li>
  <li>Soufflé sweet roll bear claw powder jelly-o topping topping chocolate bar. Biscuit toffee cake halvah cotton
    candy. Sugar plum lemon drops biscuit. Marshmallow ice cream croissant topping jelly-o cheesecake muffin. Danish
    gummi bears candy canes ice cream tart. Halvah bear claw soufflé dessert biscuit sweet roll chocolate bar chupa
    chups chocolate cake. Sugar plum pastry oat cake lemon drops oat cake tiramisu. Jelly beans pie pie danish. Powder
    topping pie caramels lollipop tootsie roll powder. Caramels jujubes jelly-o chupa chups tiramisu.</li>
</ol>



<p><strong>Sample Google Adds </strong></p>



<p>
  Get adds go to <a href="https://www.google.com/adsense/new/u/0/pub-2222007316486626/home">Overview </a>> By ad unit
  and this will be created.
</p>
<p> Cupcake ipsum dolor sit amet dessert icing muffin. Ice cream <a href="#"> liquorice marshmallow </a> </p>


<p> Cupcake ipsum dolor sit amet dessert icing muffin. Ice cream <a href="#"> liquorice marshmallow </a> sweet.
  Fruitcake lemon drops sesame snaps jujubes croissant cheesecake sweet roll cupcake.</p>

<figure>
  <figcaption><strong>Your code title IN SCSS </strong></figcaption>
  <pre class="line-numbers pre-scrollable">
      <code class="language-scss">
        .article {
          padding: 1%;
          margin-top: 1%;
          text-align: left;
          clear: both;
          
          img.float-left,
          img.float-right {
              max-width: 40%;
              margin: 0 1% 1% 1%;
          }
          img {
              @include img-100;
              max-width: 80%;
          }
        }
      </code>
    </pre>
</figure>

<p><strong>Table Responsive</strong></p>

<p> This should indicate the scroll </p>
<div class="table-responsive">
  <caption>List of users</caption>
  <table class="table ">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
        <th scope="col">Show Responsive</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>Jacob</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
</div>

<p><strong>Image Responsive </strong></p>

<img src="./img/aboutimage.jpg" alt="dupela image">
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  Quia soluta nulla quam esse, neque ipsam eaque perspiciatis odit,
  dolore dolor, repudiandae quod vero corrupti sed vel totam nesciunt sapiente? Suscipit!
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  Quia soluta nulla quam esse, neque ipsam eaque perspiciatis odit,
  dolore dolor, repudiandae quod vero corrupti sed vel totam nesciunt sapiente? Suscipit!
</p>
<p>
  Lorem ipsum dolor sit amet,
  dolore dolor, repudiandae quod vero corrupti sed vel totam nesciunt sapiente? Suscipit!
</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  Quia soluta nulla quam esse, neque ipsam eaque perspiciatis odit,
  dolore dolor, repudiandae quod vero corrupti sed vel totam nesciunt sapiente? Suscipit!
</p>