<div class="row">
    <div class="col-6 col-md-12">
        <section class="section">
            <div class="article-year">

                <div class="content-title">
                    Year
                </div>
                <ul class="list-unstyled a-color-all-1">
                    <li> <a href="#">2020 </a> </li>
                    <li><a href="#"> 2019 </a></li>
                    <li> <a href="#">2018</a></li>
                    <li> <a href="#">2017 </a></li>
                    <li><a href="#"> 2016</a> </li>
                </ul>
            </div>
        </section>
    </div>
    <div class="col-6 col-md-12">
        <section class="section">
            <div class="article-month">

                <div class="content-title">
                    Month
                </div>
                <ul class="list-unstyled a-color-all-1">
                    <li> <a href="#">January 2020 </a> </li>
                    <li><a href="#"> Febuary 2019 </a></li>
                    <li> <a href="#">March 2018</a></li>
                    <li> <a href="#">April 2017 </a></li>
                    <li><a href="#"> May 2016</a> </li>
                </ul>
            </div>
        </section>
    </div>
</div>
<section class="section">
    <div class="article-latest">
    
        <div class="content-title">
            Latest
        </div>
        <ul class="list-unstyled a-color-all-1">
            <li> <a href="#"> Sports Cars That Start With M (Luxury and Expensive Cars)
                </a> </li>
            <li><a href="#"> The little Person inside </a></li>
            <li> <a href="#"> This is a Standard Post with a Preview Image </a></li>
            <li> <a href="#">April What a what </a></li>
            <li><a href="#">Build Radar </a> </li>
        </ul>
    </div>    
</section>

<section class="section">
    <div class="article-tags">

        <div class="content-title">
            Tags
        </div>

        <a href="#"> Sports
        </a>
        <a href="#"> Person </a>
        <a href="#"> Pc</a>
        <a href="#">Personal </a>
        <a href="#">Big Data </a>
        <a href="#">Personal </a>
        <a href="#">Big Data </a>
        <a href="#">Personal </a>
        <a href="#">Big Data </a>
        <a href="#">Personal </a>
        <a href="#">Big Data </a>

    </div>
</section>

<section class="section">
    <div class="sponsor-img">
        <div class="content-title pb-4">
           Sponsors
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-auto">
                <a href="#">
                    <img src="/img/sponsor/1.png" class="p-2" alt="sponsor 1">
                </a>
            </div>
            <div class="col-auto">
                <img src="/img/sponsor/3.jpg" class="p-2" alt="sponsor 1">
            </div>
            <div class="col-auto">
                <img src="/img/sponsor/3.jpg" class="p-2" alt="sponsor 1">
            </div>
            <div class="col-auto">
                <a href="#">
                    <img src="/img/sponsor/1.png" class="p-2" alt="sponsor 1">
                </a>
            </div>
        </div>
        
    </div>
</section>