
<!-- Social -->
<div class="row">
    <div class="icon-col"><a href="https://www.facebook.com/" title="facebook" class="mr-2"><span class="fab fa-facebook fa-2x"></span></a></div>
    <div class="" ><a href="#" class="mr-2"><span class="fab fa-twitter fa-2x"></span></a></div>
    <div class=""><a href="#" class="mr-2"><span class="fab fa-youtube fa-2x"></span></a></div>
    <div class=""><a href="#" class="mr-2"><span class="fab fa-github fa-2x"></span></a></div>
    <div class=""><a href="#" class="mr-2"><span class="fab fa-discord fa-2x"></span></a></div>
    <div class=""><a href="#" class="mr-2"><span class="fas fa-user fa-2x"></span></a></div>
</div>





