// build list
@mixin news-col ($size, $color, $color-hover, $size-sub, $color-sub, $color-hover-sub) {

    .news-body {
        @include flex-row;

    }

    .news-data {
        @include flex-col;

        .title {
            @include news-list-title ($size, $color, $color-hover);
        }

        .date-author {
            @include news-list-date($size-sub, $color-sub, $color-hover-sub);
        }
    }

}

// recreate list 

@mixin news-list-img-design($img-max-width: 100px,
    $img-max-height: 100px) {

    max-width: $img-max-width;
    max-height: $img-max-height;
    @include img-fit-cover;
    @include img-responsive-100;

}

@mixin news-list-title ($size,
    $color,
    $color-hover) {

    font-size: $size;
    @include a-reset($color);
    @include full-a-hover($color-hover);

}

@mixin news-list-date($size-sub,
    $color-sub,
    $color-hover-sub) {

    font-size: $size-sub;
    @include a-reset($color-sub);
    @include full-a-hover($color-hover-sub);
}




// left
.home-news-box {
    padding: 2%;
    img {

        @include news-list-img-design(500px, 300px);

        @include media-breakpoint-down(md) {
            height: auto;
            max-width: 100%;
        }
    }

    .news-hightlight {
        
        .news-hightlight-title {

            @include news-list-title(30px, $p-color-black, $p-color-1);

        }
        .news-hightlight-date-author{
            font-size: $caption-font-size;
        }
        .news-hightlight-author {
            @include news-list-date($caption-font-size, $p-color-1, $p-color-1)
        }
    }
}

// right
.home-news-list {
    .news-list {
        img {
            @include news-list-img-design(100px, 100px);

            @include media-breakpoint-down(sm) {
                 @include news-list-img-design(100px, 100px);

            }
        }
        .no-news-image {
            width: 100px;
            margin-right: 1em;
        
            img {
                @include news-list-img-design(100px, 100px);
        
                @include media-breakpoint-down(sm) {
                    @include news-list-img-design(100px, 100px);
        
                }
            }
        }
        
    }
}


@include news-col ($title-1,
$p-color-black,
$p-color-1,
$caption-font-size,
$p-color-1,
$p-color-1);

.news-message {
text-align: center;
padding: 2vw;
}


/* News list modified */

$articles-hover-link-color: darken($p-color-1, 10%);
.list-articles {

    @include a-reset($p-color-1);

    .list-item-articles {
        width: 100%;

        .image-center {
        
        }

        .articles-image{
            img {
                @include news-list-img-design(200px, 130px);
    
                @include media-breakpoint-down(sm) {
                    @include news-list-img-design(200px, 130px);
    
                }
            }
           
        }
        .articles-image-sm{
            img {
                @include news-list-img-design(100px, 70px);
    
                @include media-breakpoint-down(sm) {
                    @include news-list-img-design(100px, 70px);
    
                }
            }
           
        }
        .articles-image-100{
         
            img {
                @include img-100;
                text-align: center;
              
                margin-left: auto;
                margin-right: auto;
            }
            @include media-breakpoint-up(lg) {
                @include news-list-img-design(200px, 130px);
            }
       
           
        }
        
        .articles-data {

            .title{
               
                a{
                    @include a-hover($articles-hover-link-color);
                }
              
            }
          
            .articles-teaser {
                margin-top: 12px;
                margin-bottom: 12px;
            }
            
            
        }
        .articles-list-button {
    
            a{
                
                color: $p-color-white;
                border: none;
                background-color: $p-color-1;
                cursor: pointer;
                font-size: $caption-font-size;
                text-transform: uppercase;
                padding: 6px;
                font-weight: bold;
                text-align: center;
              
                &:hover {
                   background-color: $articles-hover-link-color;
                }
            }
        }
    }     

}