/* News Tab Section */

$news-tab-title-color:#FFFFFF;
$news-tab-title-color-a-hover: darken($news-tab-title-color, 20%) !default;
$news-tab-title-color-sub: red;
$news-tab-title-color-a-hover-sub: lighten($news-tab-title-color-sub, 20%) !default;

@mixin news-tabs {

  position: relative;

  img {
    @include img-100;
    @include img-fit-cover;
    
    @include media-breakpoint-down(sm) {
      max-height: 180px;
    }
   
  }

  .title-float {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
  }

  .title-news-latest {

    @include a-reset($news-tab-title-color);
    @include full-a-hover($news-tab-title-color-a-hover);
  }

  .title-news-latest-sub {

    @include a-reset($news-tab-title-color-sub);
    @include full-a-hover($news-tab-title-color-a-hover-sub);

    span {
      color: $news-tab-title-color;
    }
  }

}