
    <div class="row">
        {{#repeat 4}}
        <div class="col-12 col-sm-6 col-lg-3 pt-1">
            <div class="home-latest">

                <img src="/img/images.jfif" alt="sample" class="position-relative">
                <div class="title-float">
                    <div class="title-news-latest p-2 font-weight-bold">
                        <a href="#"> A Team Approach to Large-scale Design Projects</a>

                    </div>
                    <div class="title-news-latest-sub p-2">
                        <a href="#"> RonTea </a> - <span>January 2019</span>
                    </div>

                </div>
            </div>
            <p>
                Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Cupiditate,
                asperiores quod est tenetur in.
            </p>
        </div>

        {{/repeat}}
    </div>
