<!-- 6/6 no container-->

<section class="section">
    <div class="row ">
        <div class="col-6 border text-center">
            col 6
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Cumque enim error ipsa libero quas sint verit
            </p>
        </div>
        <div class="col-6 border text-center">
            col 6
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Cumque enim error ipsa libero quas sint verit
            </p>
        </div>

    </div>
</section>
<!-- Container -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-9 border text-center">
                col 9
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Cumque enim error ipsa libero quas sint verit
                </p>
            </div>
            <div class="col-3 border text-center">
                col 3
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Cumque enim error ipsa libero quas sint verit
                </p>
            </div>
    
        </div>
    </div>
   
</section>

<section class="section">
    <div class="row">
        <div class="col border text-center">
            col 4
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Cumque enim error ipsa libero quas sint verit
            </p>
        </div>
        <div class="col border text-center">
            col 4
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Cumque enim error ipsa libero quas sint verit
            </p>
        </div>
        <div class="col  border text-center">
            col 4
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Cumque enim error ipsa libero quas sint verit
            </p>
        </div>
        <div class="col  border text-center">
            col 4
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Cumque enim error ipsa libero quas sint verit
            </p>
        </div>

    </div>
</section>