<div class="row ">
    <div class="col border text-center">

        col 1
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Cumque enim error ipsa libero quas sint verit
        </p>
    </div>
    <div class="col border text-center">
        col 2
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Cumque enim error ipsa libero quas sint verit
        </p>
    </div>
    <div class="col border text-center">
        col 3
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Cumque enim error ipsa libero quas sint verit
        </p>
    </div>
    <div class="col border text-center">
        col 4
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Cumque enim error ipsa libero quas sint verit
        </p>
    </div>
    <div class="col border text-center">
        col 5
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Cumque enim error ipsa libero quas sint verit
        </p>
    </div>
    <div class="col border text-center">
        col 6
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Cumque enim error ipsa libero quas sint verit
        </p>
    </div>
    <div class="col border text-center">
        col 7
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Cumque enim error ipsa libero quas sint verit
        </p>
    </div>
    <div class="col border text-center">
        col 8
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Cumque enim error ipsa libero quas sint verit
        </p>
    </div>
    <div class="col border text-center">
        col 9
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Cumque enim error ipsa libero quas sint verit
        </p>
    </div>
    <div class="col border text-center">
        col 10
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Cumque enim error ipsa libero quas sint verit
        </p>
    </div>
    <div class="col border text-center">
        col 11
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Cumque enim error ipsa libero quas sint verit
        </p>
    </div>
    <div class="col border text-center">
        col 12
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Cumque enim error ipsa libero quas sint verit
        </p>
    </div>
</div>