<div class="container-fluid no-gutters">
    <div class="row no-gutters border border-warning">
        <div class="col border text-center no-gutters">
            col
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Cumque enim error ipsa libero quas sint verit
            </p>
        </div>
        <div class="col border text-center no-gutters">
            col
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Cumque enim error ipsa libero quas sint verit
            </p>
        </div>


    </div>
</div>
<div class="content-title section ">
    Break with w-100
</div>
<section class="section">
    <div class="container border">
        <div class="row">
            <div class="col">col </div>
            <div class="col">col</div>
            <div class="w-100"></div>
            <div class="col">col</div>
            <div class="col">col</div>
        </div>
    </div>
</section>

<section class="section">
    <div class="content-title">
        Row - justtify-content-center
    </div>
    <div class="container border">
        <div class="row justify-content-md-center">
            <div class="col col-lg-2">
                1 of 3
            </div>
            <div class="col-md-auto">
                Variable width content
            </div>
            <div class="col col-lg-2">
                3 of 3
            </div>
        </div>

        
    </div>
    
</section>

<section class="section">
    <div class="content-title">
        Row - col-auto
    </div>

    <div class="container"> 
        <div class="row">
            <div class="col border">
                1 of 3
            </div>
            <div class="col-md-auto border">
                Variable width content
            </div>
            <div class="col col-lg-2 border">
                3 of 3
            </div>
        </div>
    </div>

    
</section>