
<div class="content-area mx-auto color-4">
    <section class="section"> 
        <div class="container border">
            <div class="text-3">
                Container in Section
            </div>
            <p> Container ... .. Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. Dicta reiciendis at, delectus ipsum
                laborum non dolor sunt, porro tempore excepturi est
                sapiente sint ab accusantium officia aliquam
                eaque nesciunt facere.
            </p>
        </div>
    
    </section>

    <div class="container border-danger border">
        <div class="text-3">
            Container no Section
        </div>
        <p> Container ... .. Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. Dicta reiciendis at, delectus ipsum
            laborum non dolor sunt, porro tempore excepturi est
            sapiente sint ab accusantium officia aliquam
            eaque nesciunt facere.
        </p>
    </div>
    
    <section class="section color-4">
        <div class="container-fluid  border">
            <div class="text-3">
                Container Fluid
            </div>
            <p> Container ... .. Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. Dicta reiciendis at, delectus ipsum
                laborum non dolor sunt, porro tempore excepturi est
                sapiente sint ab accusantium officia aliquam
                eaque nesciunt facere.
            </p>
        </div>
    </section>
    <div class="container-fluid  border border-warning">
        <div class="text-3">
            Container Fluid No Section
        </div>
        <p> Container ... .. Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. Dicta reiciendis at, delectus ipsum
            laborum non dolor sunt, porro tempore excepturi est
            sapiente sint ab accusantium officia aliquam
            eaque nesciunt facere.
        </p>
    </div>
    

        <div class="content-area mx-auto color-3 border">
            <div class="text-3">
                Content Area
            </div>
            <p> Container ... .. Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. Dicta reiciendis at, delectus ipsum
                laborum non dolor sunt, porro tempore excepturi est
                sapiente sint ab accusantium officia aliquam
                eaque nesciunt facere.
            </p>
        </div>
    

    <section class="section border-danger color-info"> 
        <div class="text-5">
            Section Demo
        </div>
        <p> Container ... .. Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. Dicta reiciendis at, delectus ipsum
            laborum non dolor sunt, porro tempore excepturi est
            sapiente sint ab accusantium officia aliquam
            eaque nesciunt facere.
        </p>
    </section>

</div>


