<section class="section">
    <div class="container">
        <div class="row">
            <div class="col inset-2 border">
                <p> col 1 - section container </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Accusantium adipisci alias assumenda atque beatae corporis
                    cumque deleniti deserunt doloribus eaque eos explicabo id illo
                    ipsa iure molestiae nesciunt nisi, officia optio praesentium quaerat
                    quia quibusdam quidem quod repellat saepe sint sunt velit veniam veritatis
                    vero voluptas voluptates voluptatibus! Architecto assumenda consectetur esse
                    praesentium rerum! Accusantium amet, assumenda dolorum expedita ipsa iusto nihil
                    porro recusandae saepe sapiente sed vel! At aut consectetur deleniti
                    facilis mollitia nam necessitatibus nesciunt non possimus quasi
                    repellat sint suscipit, vero voluptas voluptate. A accusamus,
                    aliquam amet culpa debitis dignissimos distinctio ea eius est, eum
                    eveniet fugiat iure laudantium maiores nemo non odit optio quam,
                    quia quo recusandae simili
    
    
                </p>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col inset-2 border">
            <p> col 1 - container no section</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusantium adipisci alias assumenda atque beatae corporis
                cumque deleniti deserunt doloribus eaque eos explicabo id illo
                ipsa iure molestiae nesciunt nisi, officia optio praesentium quaerat
                quia quibusdam quidem quod repellat saepe sint sunt velit veniam veritatis
                vero voluptas voluptates voluptatibus! Architecto assumenda consectetur esse
                praesentium rerum! Accusantium amet, assumenda dolorum expedita ipsa iusto nihil
                porro recusandae saepe sapiente sed vel! At aut consectetur deleniti
                facilis mollitia nam necessitatibus nesciunt non possimus quasi
                repellat sint suscipit, vero voluptas voluptate. A accusamus,
                aliquam amet culpa debitis dignissimos distinctio ea eius est, eum
                eveniet fugiat iure laudantium maiores nemo non odit optio quam,
                quia quo recusandae simili


            </p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col inset-2 border">
            <p> col 1 - container-fluid no section</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusantium adipisci alias assumenda atque beatae corporis
                cumque deleniti deserunt doloribus eaque eos explicabo id illo
                ipsa iure molestiae nesciunt nisi, officia optio praesentium quaerat
                quia quibusdam quidem quod repellat saepe sint sunt velit veniam veritatis
                vero voluptas voluptates voluptatibus! Architecto assumenda consectetur esse
                praesentium rerum! Accusantium amet, assumenda dolorum expedita ipsa iusto nihil
                porro recusandae saepe sapiente sed vel! At aut consectetur deleniti
                facilis mollitia nam necessitatibus nesciunt non possimus quasi
                repellat sint suscipit, vero voluptas voluptate. A accusamus,
                aliquam amet culpa debitis dignissimos distinctio ea eius est, eum
                eveniet fugiat iure laudantium maiores nemo non odit optio quam,
                quia quo recusandae simili


            </p>
        </div>
    </div>
</div>

<section class="section">
    <div class="container-fluid">
        <div class="row">
            <div class="col inset-2 border">
                <p> col 1 - section only </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Accusantium adipisci alias assumenda atque beatae corporis
                    cumque deleniti deserunt doloribus eaque eos explicabo id illo
                    ipsa iure molestiae nesciunt nisi, officia optio praesentium quaerat
                    quia quibusdam quidem quod repellat saepe sint sunt velit veniam veritatis
                    vero voluptas voluptates voluptatibus! Architecto assumenda consectetur esse
                    praesentium rerum! Accusantium amet, assumenda dolorum expedita ipsa iusto nihil
                    porro recusandae saepe sapiente sed vel! At aut consectetur deleniti
                    facilis mollitia nam necessitatibus nesciunt non possimus quasi
                    repellat sint suscipit, vero voluptas voluptate. A accusamus,
                    aliquam amet culpa debitis dignissimos distinctio ea eius est, eum
                    eveniet fugiat iure laudantium maiores nemo non odit optio quam,
                    quia quo recusandae simili
    
    
                </p>
            </div>
        </div>
    </div>
</section>