<nav class="navbar navbar-expand-xl navbar-light color-4" id="header">
  <!-- Navigation Logo -->
  {{>navlogo }}
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbardupela"
    aria-controls="navbardupela" aria-expanded="false" aria-label="Toggle navigation">
    <!-- Mobile Menu-->
    ☰
  </button>
  <!-- Navigation Links -->
  <div class="collapse navbar-collapse" id="navbardupela">

    <div class="mr-auto nav-link-wrap">
      <!-- Links -->
      {{>navlink}}
    </div>

  </div>
</nav>