<div class="row">
    <div class="col-12 col-sm-auto sub-menu">
        <div class="sub-title text-uppercase pb-2 pt-2 border-bottom"> Blog </div>
        <ul class="list-unstyled menu-item">
            <li>  <a class="dropdown-item" href="/pagearticle.html">Article</a></li>
            <li> <a class="dropdown-item" href="/pagearticlewimg.html">Article with Image</a></li>
            <li> <a class="dropdown-item" href="/pagearticlecol2.html">2 Column Article</a></li>
            <li> <a class="dropdown-item" href="/pagearticlecol3.html">3 Column Article</a></li>
            <li> <a class="dropdown-item" href="/pagearticlearchieved.html">3 Column Article Archieved</a></li>
        </ul>

        <div class="sub-menu">
            <div class="sub-title text-uppercase pb-2 pt-2 border-bottom"> Post </div>
        <ul class="list-unstyled menu-item">
            <li>  <a class="dropdown-item" href="/pagearticleread.html">Post No Image</a></li>
            <li>  <a class="dropdown-item" href="/pagearticlereadwimg.html">Post With Image</a></li>
            <li> <a class="dropdown-item" href="/pagearticlereadwimgh.html">Post With Image Hidden Header</a></li>
        </ul>
        </div>
    </div>
    <div class="col-12 col-sm-auto sub-menu">
        <div class="sub-title text-uppercase pb-2 pt-2 border-bottom"> Taxonomy </div>
        <ul class="list-unstyled menu-item">
            <li>  <a class="dropdown-item" href="#">List Taxonomy </a></li>
            
        </ul>
        
    </div>
    
</div>
