<section class="section">
    <div class="container-fluid">
        <div class="page-icons-wrap border inset-2">
            <div class="content-title text-center inset-bottom-2">
                List of Icons
            </div>
            <!--List 1-->
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="box">
                        <div class="box-item">
                            <i class="far fa-folder-open fa-2x"> </i>
                        </div>
                        <div class="box-title">
                            far fa-folder-open
                        </div>
                    </div>

                    <div class="box">
                        <div class="box-item">
                            <i class="fas fa-bug fa-2x"> </i>
                        </div>
                        <div class="box-title">
                            fas fa-bug
                        </div>
                    </div>

                    <div class="box">
                        <div class="box-item">
                            <i class="fas fa-file-alt fa-2x"> </i>
                        </div>
                        <div class="box-title">
                            fas fa-file-alt
                        </div>
                    </div>

                    <div class="box">
                        <div class="box-item">
                            <i class="far fa-file fa-2x"> </i>
                        </div>
                        <div class="box-title">
                            far fa-file
                        </div>
                    </div>


                </div>
                <!--List 2-->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="box">
                        <div class="box-item">
                            <i class="fab fa-twitter fa-2x"> </i>
                        </div>
                        <div class="box-title">
                            fab fa-twitter
                        </div>
                    </div>

                    <div class="box">
                        <div class="box-item">
                            <i class="fab fa-youtube fa-2x"> </i>
                        </div>
                        <div class="box-title">
                            fab fa-youtube
                        </div>
                    </div>

                    <div class="box">
                        <div class="box-item">
                            <i class="fab fa-github fa-2x"> </i>
                        </div>
                        <div class="box-title">
                            fab fa-github
                        </div>
                    </div>

                    <div class="box">
                        <div class="box-item">
                            <i class="fab fa-discord fa-2x"> </i>
                        </div>
                        <div class="box-title">
                            fab fa-discord
                        </div>
                    </div>

                    <div class="box">
                        <div class="box-item">
                            <i class="fas fa-user fa-2x"> </i>
                        </div>
                        <div class="box-title">
                            fas fa-user
                        </div>
                    </div>


                </div>
                <!-- List 3 -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="box">
                        <div class="box-item">
                            <i class="fab fa-facebook fa-2x"> </i>
                        </div>
                        <div class="box-title">
                            fab fa-facebook
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-item">
                            <i class="fab fa-twitter fa-2x"> </i>
                        </div>
                        <div class="box-title">
                            fab fa-twitter
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-item">
                            <i class="fab fa-google fa-2x"> </i>
                        </div>
                        <div class="box-title">
                            fab fa-google
                        </div>
                    </div>

                    <div class="box">
                        <div class="box-item">
                            <i class="fas fa-heartbeat fa-2x"> </i>
                        </div>
                        <div class="box-title">
                            fas fa-heartbeat
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-item">
                            <i class="fas fa-compass fa-2x"> </i>
                        </div>
                        <div class="box-title">
                            fas fa-compass
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-item">
                            <i class="fab fas fa-edit fa-2x"> </i>
                        </div>
                        <div class="box-title">
                            fas fa-edit
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-item">
                            <i class="far fa-comments fa-2x"> </i>
                        </div>
                        <div class="box-title">
                            far fa-comments
                        </div>
                    </div>
                </div>
                <!--List 4 -->
                <div class="col-12 col-sm-6 col-md-3">

                    <div class="box">
                        <div class="box-item">
                            <i class="fas fa-minus fa-2x"> </i>
                        </div>
                        <div class="box-title">
                            fas fa-minus
                        </div>
                    </div>

                    <div class="box">
                        <div class="box-item">
                            <i class="fas fa-plus fa-2x"> </i>
                        </div>
                        <div class="box-title">
                            fas fa-plus
                        </div>
                    </div>

                    <div class="box">
                        <div class="box-item">
                            <i class="fas fa-desktop fa-2x"> </i>
                        </div>
                        <div class="box-title">
                            fas fa-desktop
                        </div>
                    </div>


                    <div class="box">
                        <div class="box-item">
                            <i class="fas fa-mobile-alt fa-2x"> </i>
                        </div>
                        <div class="box-title">
                            fas fa-mobile-alt
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-item">
                            <i class="fas fa-ad fa-2x"> </i>
                        </div>
                        <div class="box-title">
                            fas fa-ad
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-item">
                            <i class="fab fa-dev fa-2x"> </i>
                        </div>
                        <div class="box-title">
                            fab fa-dev
                        </div>
                    </div>

                    <div class="box">
                        <div class="box-item">
                            <i class="fas fa-rocket fa-2x"> </i>
                        </div>
                        <div class="box-title">
                            fas fa-rocket
                        </div>
                    </div>

                    <div class="box">
                        <div class="box-item">
                            <i class="far fa-thumbs-up fa-2x"> </i>
                        </div>
                        <div class="box-title">
                            far fa-thumbs-up
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
</section>

<div class="content-area mx-auto">
    <section class="section">
        <div class="box">
            <div class="box-item">
                <i class="far fa-thumbs-up fa-2x"> </i>
            </div>
            <div class="box-title">
                far fa-thumbs-up
                <br> {{ edit_node }} 
            </div>
            
        </div>
        
            <p> {{ field_text_title }} == Text title </p>
            <p>{{ field_icon_placement }} == Icon Placement</p>
            <p>{{ field_asset_type }} == Asset Type</p>
            <p>{{ field_link }} == Link</p>
            <p>{{ field_css_icon }} == CSS Icon</p>
            <p>{{ body }} == Body</p>
        
    </section>
</div>
