<div class="list-articles">
    <div class="list-item-articles">
      {{#repeat 6}}
   
        <div class="p-2 border-bottom text-left row">

            <div class="articles-image col-auto">
                <a href="#"><img src="img/samplenews.jpg" alt="Generic placeholder image"></a> 
            </div>
           
            <div class="articles-data col">
                
                <div class="title content-md-title">
                    <a href="#">Question: what’s the best sounding car of all time? </a>
                </div>
              
                <div class="date-author pt-2 pb-2"> 
                    <span class="articles-list-button pr-2">
                        <a href="#">Review </a>
                    </span>
                    <span class="date">
                        1/23/2020
                    </span> 
                    <span class="author"> 
                        <a href="#"> Rontea </a> 
                    </span> 
                </div>

                <div class="articles-teaser">
                    <p> Tough but rewarding, Roguelikes are an acquired taste. But if you're up for the challenge, here are the best Roguelike games on Xbox One. </p>
                </div>

            </div>
        </div>
      
      {{/repeat}}

    </div>
  </div>