<div class="list-articles">
    <div class="list-item-articles row">
      {{#repeat 4}}
   
        <div class="p-2 text-left col-6">

            <div class="articles-image-100">
                <a href="#"><img src="img/samplenews.jpg" alt="Generic placeholder image"></a> 
            </div>
           
            <div class="articles-data">
                
                <div class="title content-md-title">
                    <a href="#">Question: what’s the best sounding car of all time? </a>
                </div>
              
                <div class="date-author pt-2 pb-2"> 
                
                    <span class="date">
                        1/23/2020
                    </span> 
                   
                </div>

            </div>
        </div>
      
      {{/repeat}}

    </div>
  </div>