<section class="section">
    <div class="container">
        {{>chuncksinglearticle}}
    </div>
</section>

<!-- Glo Title Demo -->
<div class="glo-article-heading mb-2 pt-4">
    <div class="article-title"> <span> Article Box 4 Horizontal Image </span> </div>
</div>

<section class="section row">
    <div class="col-12 col-md-3">
        {{>chuncksinglearticleleft}}
    </div>
    <div class="col-12 col-md-3">
        {{>chuncksinglearticleleft}}
    </div>
    <div class="col-12 col-md-3">
        {{>chuncksinglearticleleft}}
    </div>
    <div class="col-12 col-md-3">
        {{>chuncksinglearticleleft}}
    </div>
</section>

<!-- Glo Title Demo -->
<div class="glo-article-heading mb-2 pt-4">
    <div class="article-title"> <span> Tags list </span> </div>
</div>

<section class="section row">
    <div class="col-12 col-md-3">
        {{>chunckstags}}
    </div>
    <div class="col-12 col-md-3">
        {{>chunckstags}}
    </div>
    <div class="col-12 col-md-3">
        {{>chunckstags}}
    </div>
    <div class="col-12 col-md-3">
        {{>chunckstags}}
    </div>
</section>

<section class="section row">
    <div class="col-12 col-lg-8">
        {{> chuncklistarticle}}
    </div>
    <div class="col-12 col-lg-4">
        {{> chuncksidebararticles4img}}
        {{> chuncksidebararticles}}
    </div>
</section>

<section class="section row">
    <div class="col-12 col-lg-4">
        {{> chuncksidebararticles}}
    </div>
</section>

<section class="section row">
    <div class="col-12 col-lg-4">
        {{> chuncksidebararticles4img}}
    </div>
</section>

<section class="section row">
    <div class="col-12 col-md-4  col-lg-3 align-content-center align-content-lg-start">
        {{> chunckcarousel}}
    </div>
 </section>