<section class="section">
    <div class="container-fluid">

        <div class="home-news-wrap p-2">
            <div class="glo-article-heading">
                <div class="article-title"> <span>Articles</span> </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 justify-content-center d-flex">
                    {{> newshighlight}}
                </div>
                <div class="col-md home-news-list">
                    {{> newslist}}
                    <div class="read-more-news pb-4 pt-2">
                        <a href="#" class="btn btn-primary float-right"> Read More News </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>