<section class="section">
    <div class="container-fluid">

        <div class="home-news-wrap p-2">
            <div class="glo-article-heading">
                <div class="article-title"> <span>Articles</span> </div>
            </div>
            <div class="row no-gutters">
                <div class="col-12 col-lg-6 inset-left-2">
                    {{> newshighlight}}
                </div>
                <div class="col-12 col-lg-6 home-news-list">
                    {{> newslist}}
                   
                </div>
                
            </div>
            
        </div>
    </div>
</section>
