<section class="section">
    <div class="container-fluid">
        <div class="row icon-box text-center">
            <div class="col-sm-6 col-md-3">
                <a class="text-decoration-none a-color-light" href="#">
                    <i class="far fa-file icon-lg" aria-hidden="true" title="icon of a file"></i>
                    
                    <h4> Code </h4>
                </a>
                <p class=""> Lets dive in to different areas where we recreate the code for used.
                    Check my <a href="#">Github Repo.</a> </p>
            </div>
            <div class="col-sm-6 col-md-3">
                <a class="text-decoration-none a-color-light" href="#">
                    <i class="far fa-folder-open icon-lg" ></i>
                    <h4> Project </h4>
                </a>
                <p class=""> Lets create something and used it for good.</p>
            </div>
            <div class="col-sm-6 col-md-3">
                <a class="text-decoration-none a-color-light" href="#">
                    <i class="fas fa-bug icon-lg"></i>
                    <h4> Issue </h4>
                </a>
                <p class=""> Lets check and tackle each issue that we encounter that you may stamble upon as well.</p>
            </div>
            <div class="col-sm-6 col-md-3">
                <a class="text-decoration-none a-color-light" href="#">
                    <i class="fas fa-file-alt icon-lg"></i>
                    <h4> Write Up</h4>
                </a>
                <p class=""> Lets write something that you may be interested of.</p>
            </div>
        </div>
    </div>
</section>


