<figure class="">
    <figcaption><strong>Your code title IN HTML </strong></figcaption>
    <pre class="line-numbers pre-scrollable language-html">
<code class="language-html">
   <p>Sample has an issue</p>
</code>
</pre>
</figure>


<figure class="">
    <figcaption><strong>Your code title IN CSS </strong></figcaption>
    <pre class="line-numbers pre-scrollable">
<code class="language-css ">
.sample { 
height: 100px; 
width: 200px; 
}
</code>
</pre>

</figure>
<figure class="">
    <figcaption><strong>Your code title IN SCSS </strong></figcaption>
    <pre class="line-numbers pre-scrollable">
<code class="language-scss ">
.article {
    padding: 1%;
    margin-top: 1%;
    text-align: left;
    clear: both;
    
    img.float-left,
    img.float-right {
        max-width: 40%;
        margin: 0 1% 1% 1%;
    }
    img {
        @include img-100;
        max-width: 80%;
    }
}
</code>
</pre>

</figure>

<figure class="">
    <figcaption><strong>Your code title IN JS </strong></figcaption>
    <pre class="line-numbers pre-scrollable">
<code class="language-scss ">
    // set horizontal tabs
    accordion('.tab-menu-horizontal','.tab-content-horizontal');
    // set vertical tabs
    accordion('.tab-menu-vertical','.tab-content-vertical');
    // tabs function
    function accordion(menu,content){
        /* accordion */
    
        // get all the element under accordion-tab
        const tabMenu =  document.querySelectorAll(menu +" a");
        // get all element from accordion-content-tab
        const contentTab =  document.querySelectorAll(content + " div");
    
        let tabCurrent = 0;
    
        for(let i=0;i < tabMenu.length; i++){
            tabMenu[i].addEventListener('click', function(event) {
                console.log('click' + i);
                // make sure that it is not on current tab
                if(i != tabCurrent){
                    // remove and add class 
                    // remove state of old tab
                    contentTab[tabCurrent].classList.remove('active-content');
                    contentTab[tabCurrent].classList.add('hidden-content');
                    // add current state of new tab click
                    contentTab[i].classList.remove('hidden-content');
                    contentTab[i].classList.add('active-content');
                    
                    // make sure the the tab menu is highlighted 
                    tabMenu[tabCurrent].classList.remove('active-tab');
                    tabMenu[i].classList.add('active-tab');
                    
                    // change the current tab
                    tabCurrent = i;
                }
            //if(contentTab[i].classList.contains("active-content")){  
            });
        }
    }
</code>
</pre>

</figure>