{{> dimageleft}}


<div class="article">

    <img class="float-right" src="img/demotext.jpg" alt="sample demo">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ea
        consequatur saepe aliquid dicta labore odit officia iste quibusdam
        maiores repellendus, laudantium assumenda numquam corrupti fugiat
        sint voluptate fuga tempore?
    </p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Assumenda deleniti eaque eum exercitationem fugit in, ipsum,
        itaque minus molestias nam nobis officia quidem quisquam ratione
        recusandae reprehenderit veniam vero voluptates! A ad aspernatur autem corporis,
        culpa deleniti dignissimos id in iure, laudantium magnam maxime nostrum, praesentium
        quam soluta tempora voluptates? Alias aliquam architecto consequatur doloribus dolorum
        est ex excepturi facere in, iusto pariatur provident, quod repudiandae! Accusantium
        aliquid amet aut beatae consequatur dignissimos dolores ducimus fuga, id iste itaque
        molestias nisi nostrum omnis perspiciatis quasi qui, quia quisquam, tenetur ullam unde
        velit veniam! Aliquam aliquid aut commodi cumque dolorem,
        ducimus enim eos harum id illum, ipsa iusto, laborum magnam maiores minima
        necessitatibus obcaecati optio provident
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ea
        consequatur saepe aliquid dicta labore odit officia iste quibusdam
        maiores repellendus, laudantium assumenda numquam corrupti fugiat
        sint voluptate fuga tempore?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ea
        consequatur saepe aliquid dicta labore odit officia iste quibusdam
        maiores repellendus, laudantium assumenda numquam corrupti fugiat
        sint voluptate fuga tempore?
    </p>

</div>

{{> dimagecenter}}