<div class="glo-article-heading">
    <div class="article-title"><span>Heading</span> </div>
</div>
<div class="mt-2">
    <h1>
        H1 Heading
    </h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Aspernatur, consequatur culpa cumque dolore dolorem dolores
        eligendi est in incidunt iusto magni molestias nisi quae
        tenetur unde. Accusantium alias aperiam, atque dolor
        doloribus, eius eveniet expedita expl
    </p>
    <h2>
        H2 Heading
    </h2>
    <h3>
        H3 Heading
    </h3>
    <h4>
        H4 Heading
    </h4>
    <h5>
        H2 Heading
    </h5>

    <h6>
        H2 Heading
    </h6>
</div>