<div class="glo-article-heading">
    <div class="article-title"> <span>Unordered List</span> </div>
</div>

<ul class="mt-2">
    <li><a href="#">Highly Customizable</a></li>
    <li><a href="#">Pre-Built Pages</a></li>
    <li>Clean Design</li>
    <li><a href="#">Extensive Options</a></li>
    <li>Top Notch Quality</li>
    <li><a href="#">Responsive Design</a></li>
    <li><a href="#">Powered Page Builder</a></li>
    <li>SEO Optimized</li>
    <li><a href="#">Outstanding Support</a></li>

</ul>
<div class="glo-article-heading mb-2">
    <div class="article-title"> <span>Ordered List</span> </div>
</div>

<ol class="mt-2">
    <li><a href="#">Highly Customizable</a></li>
    <li><a href="#">Pre-Built Pages</a></li>
    <li>Clean Design</li>
    <li><a href="#">Extensive Options</a></li>
    <li>Top Notch Quality</li>
    <li><a href="#">Responsive Design</a></li>
    <li><a href="#">Powered Page Builder</a></li>
    <li>SEO Optimized</li>
    <li><a href="#">Outstanding Support</a></li>

</ol>