<div class="smart-tiles">
        <div class="row">
                <div class="col-lg-6 left-item-image">
                        <img src="img/sample1000x.png">
                        <div class="title-bottom">
                                <div class="date-news-gallery"> January 2020
                                        <span class="ml-2"> <a href="#">
                                                        <div class="d-lg-none fas fa-external-link-alt mobile-link-guide">
                                                        </div>
                                                </a></span>
                                </div>
                                <div class="text-header-design text-6"><a href="#">Test title short Test title short Test title
                                                short</a></div>
                        </div>
                        <button class="cat-button">
                                <a href="#">Test-Project</a>
                        </button>

                </div>
                <div class="col-lg-6 right-item-image">

                        <div class="row">
                                <div class="col-lg-12 top">
                                        <img src="img/sample1.2.jpg">
                                        <div class="title-bottom">
                                                <div class="date-news-gallery"> January 2020
                                                        <span class="ml-2"> <a href="#">
                                                                        <div
                                                                                class="d-lg-none fas fa-external-link-alt mobile-link-guide">
                                                                        </div>
                                                                </a></span>
                                                </div>
                                                <div class="text-header-design text-6"><a href="#">Test title short Test title
                                                                short Test title short</a></div>
                                        </div>
                                        <button class="cat-button">
                                                <a href="#">Test-Project</a>
                                        </button>

                                </div>

                        </div>

                        <div class="row">
                                <div class="col-md-6 bottom">
                                        <img src="img/sample1.3.jpg">
                                        <div class="title-bottom">
                                                <div class="date-news-gallery"> January 2020
                                                        <span class="ml-2"> <a href="#">
                                                                        <div
                                                                                class="d-lg-none fas fa-external-link-alt mobile-link-guide">
                                                                        </div>
                                                                </a></span>
                                                </div>
                                                <div class="text-header-design text-6"><a href="#">Test title short Test title
                                                                short Test title short</a></div>
                                        </div>
                                        <button class="cat-button">
                                                <a href="#">Test-Project</a>
                                        </button>

                                </div>
                                <div class="col-md-6 bottom">
                                        <img src="img/sample1.4.jfif">
                                        <div class="title-bottom">
                                                <div class="date-news-gallery"> January 2020
                                                        <span class="ml-2"> <a href="#">
                                                                        <div
                                                                                class="d-lg-none fas fa-external-link-alt mobile-link-guide">
                                                                        </div>
                                                                </a></span>
                                                </div>
                                                <div class="text-header-design text-6"><a href="#">Test title short Test title
                                                                short Test title short</a></div>
                                        </div>
                                        <button class="cat-button">
                                                <a href="#">Test-Project</a>
                                        </button>

                                </div>
                        </div>
                </div>
        </div>
</div>