<div class="home-news-list">
  <div class="news-list">
    {{#repeat 6}}
    <div class="news-col mt-2">
      <div class="news-body border-bottom d-flex flex-column flex-sm-row text-left">
        <a href="#" class=""><img class="mr-3" src="img/samplenews.jpg" alt="Generic placeholder image"></a>
        <div class="news-data p-2 ">
          <div class="title mt-0"><a href="#">Question: what’s the best sounding car of all time? </a></div>
          <div class="date-author"> <span class="date ml-md-2">1/23/2020</span> <span class="author"> <a href="#"> Rontea
              </a> </span> </div>
        </div>
      </div>
    </div>
    {{/repeat}}
  
  </div>
</div>
