<div class="home-news-box">
  <div class="news-hightlight">
    <img src="img/blog/b1.jpeg" alt="Generic placeholder image">

    <div class="news-hightlight-title">
      <a href="#">Tiny Cell Project a Whole New Ideas </a>

    </div>
    <div class="news-hightlight-date-author">
      <span class="news-hightlight-date">
        1/23/2020
      </span>
      <span class="news-hightlight-author">
        <a href="#">
          Rontea
        </a>
      </span>
    </div>
    <div class="mt-4 news-home-read-more"><a href="#" class="btn btn-primary"> Read More</a></div>
  </div>
</div>