<!-- Minimal Footer -->
{{#ifpage 'pagefootermin' '404' 'comingsoon' 'maintenance'}}
{{> minimalfooter}}
{{/ifpage}}

<!-- Mega Footer -->
{{#ifpage 'pagefootermega' 'pagearticle' 'pagearticlecol2' 'pagearticlecol3' 'pagearticlewimg' 'pagearticleread' 'pagearticlereadwimg' 'pagearticlearchieved'}} 
{{> megafooter}}
{{/ifpage}}

<!-- Page Footer -->
{{#unlesspage 'pagefootermin' 'pagefootermega' 'pagearticle' '404' 'comingsoon' 'maintenance' 
'pagearticlecol2' 'pagearticlecol3' 'pagearticlewimg' 'pagearticleread' 'pagearticlereadwimg'
'pagearticlearchieved'
}}
{{> pagefooter}}
{{/unlesspage }}