<!-- header -->
<header class="color-lighten">
        <!-- Top Header -->
        <div class="top-header-wrap content-area mx-auto">
                <div class="top-header p-2">
                        <div class="row no-gutters">
                                <!-- Logo -->
                                <div class="col text-white company-name d-none d-lg-block">
                                        <a href="./" class="text-reset text-decoration-none"><i
                                                        class="logo mt-auto mb-auto"></i>upela</a>
                                </div>
                                <!-- Social Links -->
                                <div class="col col-lg-auto social-wrap d-none d-md-block">
                                        {{> social}}
                                </div>
                                <!-- Nav Social -->
                                <div class="col col-lg-auto active-search ml-2">
                                        <div class="float-left  d-sm-block d-md-none">
                                                {{> navsocial}}
                                        </div>
                                        <!-- form Search -->
                                        <form class="form-inline row no-gutters">

                                                <input class="form-control col-9 ml-2" type="search"
                                                        placeholder="Search" aria-label="Search">
                                                <button class="btn col-2" type="submit">
                                                        <i class="fas fa-search text-color-white"></i>
                                                </button>


                                        </form>
                                </div>
                        </div>
                </div>
        </div>
        <!-- Navigation -->
        <div class="color-4" id="header">
                <div class="bottom-header mx-auto border-bottom">
                        {{> nav}}
                </div>
        </div>

</header>