
<footer class="dark-footer">
    {% if page.footer_article %}
        <div class="footer content-area container-fluid mega-footer">
            {{ page.footer_article }}
        </div>
    {% endif %}
<footer>