
<footer class="dark-footer">
    {% if page.article_footer %}
        <div class="footer content-area container all-footer">
            {{ page.article_footer }}
        </div>
    {% endif %}
<footer>