<div class="footer content-area container">
    <div class="footer-minimal text-center">
    {% if page.footer%}
        {{ page.footer }}
    {% endif %}
        <div class="footer-copyright pb-4 pt-4 caption">
            © 2020 All Rights Reserved
        </div>
    </div>
</div>