<div class="col demo-col color-4">
    <div class="text-1 text-color-dark">
        F4
    </div>
    <div class="text-color-1">
        <p>Lorem ipsum dolor sit amet </p>
        <h1> A B C</h1>
        <h2> A B C</h1>
            <h3> A B C</h3>
            <h4> A B C</h4>
            <h5> A B C</h5>
            <h6> A B C</h6>
            <a href="#"> Link </a>
    </div>
    <div class="text-color-2">
        <p>Lorem ipsum dolor sit amet </p>
        <h1> A B C</h1>
        <h2> A B C</h1>
            <h3> A B C</h3>
            <h4> A B C</h4>
            <h5> A B C</h5>
            <h6> A B C</h6>
            <a href="#"> Link </a>
    </div>
    <div class="text-color-3">
        <p>Lorem ipsum dolor sit amet </p>
        <h1> A B C</h1>
        <h2> A B C</h1>
            <h3> A B C</h3>
            <h4> A B C</h4>
            <h5> A B C</h5>
            <h6> A B C</h6>
            <a href="#"> Link </a>
    </div>
    <div class="text-color-4">
        <p>Lorem ipsum dolor sit amet </p>
        <h1> A B C</h1>
        <h2> A B C</h1>
            <h3> A B C</h3>
            <h4> A B C</h4>
            <h5> A B C</h5>
            <h6> A B C</h6>
            <a href="#"> Link </a>
    </div>
    <div class="text-color-5">
        <p>Lorem ipsum dolor sit amet </p>
        <h1> A B C</h1>
        <h2> A B C</h1>
            <h3> A B C</h3>
            <h4> A B C</h4>
            <h5> A B C</h5>
            <h6> A B C</h6>
            <a href="#"> Link </a>
    </div>
    <div class="text-color-light">
        <p>Lorem ipsum dolor sit amet </p>
        <h1> A B C</h1>
        <h2> A B C</h1>
            <h3> A B C</h3>
            <h4> A B C</h4>
            <h5> A B C</h5>
            <h6> A B C</h6>
            <a href="#"> Link </a>
    </div>
    <div class="text-color-dark">
        <p>Lorem ipsum dolor sit amet </p>
        <h1> A B C</h1>
        <h2> A B C</h1>
            <h3> A B C</h3>
            <h4> A B C</h4>
            <h5> A B C</h5>
            <h6> A B C</h6>
            <a href="#"> Link </a>
    </div>
    <div class="text-color-white">
        <p>Lorem ipsum dolor sit amet </p>
        <h1> A B C</h1>
        <h2> A B C</h1>
            <h3> A B C</h3>
            <h4> A B C</h4>
            <h5> A B C</h5>
            <h6> A B C</h6>
            <a href="#"> Link </a>
    </div>
    <div class="text-color-black">
        <p>Lorem ipsum dolor sit amet </p>
        <h1> A B C</h1>
        <h2> A B C</h1>
            <h3> A B C</h3>
            <h4> A B C</h4>
            <h5> A B C</h5>
            <h6> A B C</h6>
            <a href="#"> Link </a>
    </div>
</div>