<div class="row">
    <div class="col text-3">
        List
    </div>
    <div class="col">
        #FF0000
    </div>
    <div class="col">
        #273043
    </div>
    <div class="col">
        #9197AE
    </div>
    <div class="col">
        #EFF6EE
    </div>
    <div class="col">
        #F02D3A
    </div>
    <div class="col">
        White
    </div>
    <div class="col">
        Black
    </div>
</div>
<div class="row pallete-page">
    <div class="col text-1">
        List
    </div>
    <div class="col color-1">

    </div>
    <div class="col color-2">

    </div>
    <div class="col color-3">

    </div>
    <div class="col color-4">

    </div>
    <div class="col color-5">

    </div>
    <div class="col color-white">

    </div>
    <div class="col color-black">

    </div>
</div>

<div class="row pallete-text">
    {{>pdesc}}
    {{>p1}}
    {{>p2}}
    {{>p3}}
    {{>p4}}
    {{>p5}}
    {{>p6}}
    {{>p7}}
</div>