<div class="col demo-col">
    <div class="text-1 text-color-dark">
        List
    </div>
    <div class="">
        <p>Color 1 Lorem ipsum dolor sit amet</p>
        <h1> Color 1</h1>
        <h2> Color 1</h1>
            <h3> Color 1</h3>
            <h4> Color 1</h4>
            <h5> Color 1</h5>
            <h6> Color 1</h6>
            <a href="#"> Color 1 </a>
    </div>
    <div class="">
        <p>Color 2 Lorem ipsum dolor sit amet</p>
        <h1> Color 2</h1>
        <h2> A B C</h1>
            <h3> A B C</h3>
            <h4> A B C</h4>
            <h5> A B C</h5>
            <h6> A B C</h6>
            <a href="#"> Color 2 </a>
    </div>
    <div class="">
        <p>Color 3 Lorem ipsum dolor sit amet</p>
        <h1> Color 3 </h1>
        <h2> A B C</h1>
            <h3> A B C</h3>
            <h4> A B C</h4>
            <h5> A B C</h5>
            <h6> A B C</h6>
            <a href="#"> Color 3 </a>
    </div>
    <div class="">
        <p>Color 4 Lorem ipsum dolor sit amet</p>
        <h1>Color 4</h1>
        <h2> A B C</h1>
            <h3> A B C</h3>
            <h4> A B C</h4>
            <h5> A B C</h5>
            <h6> A B C</h6>
            <a href="#"> Color 4</a>
    </div>
    <div class="">
        <p>Color 5 Lorem ipsum dolor sit amet</p>
        <h1> Color 5</h1>
        <h2> A B C</h1>
            <h3> A B C</h3>
            <h4> A B C</h4>
            <h5> A B C</h5>
            <h6> A B C</h6>
            <a href="#"> Color 5</a>
    </div>
    <div class="">
        <p>Light Color Lorem ipsum dolor sit amet</p>
        <h1> Light </h1>
        <h2> A B C</h1>
            <h3> A B C</h3>
            <h4> A B C</h4>
            <h5> A B C</h5>
            <h6> A B C</h6>
            <a href="#"> Light Color </a>
    </div>
    <div class="">
        <p>Dark Color Lorem ipsum dolor sit amet </p>
        <h1> Dark</h1>
        <h2> A B C</h1>
            <h3> A B C</h3>
            <h4> A B C</h4>
            <h5> A B C</h5>
            <h6> A B C</h6>
            <a href="#"> Dark Color </a>
    </div>
    <div class="">
        <p>White Color Lorem ipsum dolor sit amet</p>
        <h1> White</h1>
        <h2> A B C</h1>
            <h3> A B C</h3>
            <h4> A B C</h4>
            <h5> A B C</h5>
            <h6> A B C</h6>
            <a href="#"> White color </a>
    </div>
    <div class="">
        <p>Black Color Lorem ipsum dolor sit amet</p>
        <h1> Black </h1>
        <h2> A B C</h1>
            <h3> A B C</h3>
            <h4> A B C</h4>
            <h5> A B C</h5>
            <h6> A B C</h6>
            <a href="#"> Black Color </a>
    </div>

</div>