<div class="content-area mx-auto">
       <section class="section">
              {% if page.features_first %}
                     {{ page.features_first }}
              {% endif %}
       </section>
</div>