.icon-box {
    &.icon-dark {
        color: $p-color-4;
        background-color: $p-color-lighten;
    }

    &.icon-light {
        color: $p-color-lighten;
        background-color: $p-color-4;
    }

    padding: 1.8vw;
    .icon {
        // Displays an element as an inline element (like <span>). Any height and width properties will have no effect	
        display: inline-block;
    }

    p , h1, h2, h3, h4, h5, h6  {
        margin-top: 1.4vw;
    }

    .icon-info {
        display: flex;
        flex-direction: row;

        @include media-breakpoint-down(md){
            flex-direction: column;
        }
    }   
    
    .icon-img{
        margin-right: 2vw;
    }
}

// jumbotron 

.jumbotron {
    background: transparent;
}

.back-img {
    background-image: url('/img/back/bg1.jpg');
    background-position: center;
    background-size: cover;
}


.back-img-2 {
    background-image: url('/img/back/bg2.jpg');
    background-size: cover;
    background-position: center;
}


/* Chunk box 3*/

.boxleft-img-wrap {
    background-image: url('/img/back/boxbg1.jpg');
    background-size: cover;
    background-position: center;
}

.boxleft-img-bottom {
    // background opacity effect
    background-color:rgba(238, 238, 238, .45);
}

/* Chunk box 4*/

.box-2-side {

    // skew effect
    //transform: skew(-12deg);
  
    &.left , &.right  {
        width: 50%;
        @include media-breakpoint-down(md) {
            width: 100%;
          
        }
    }
   
    @include media-breakpoint-down(md) {
        float:none !important;
    }

    .content-area {
        max-width: $content-area / 2;
       
    }

    .circle-1 {
       
        img {
            width: 50%;
            
        }
        
    }
}


// skew effect
.skew-relative{
    position: relative;
   
    .skew {
        transform: skew(-12deg);
      .item {
        position: absolute;
       
        border-right: solid 1px #cccccc;
        width: 32%;
        height: 100%;
        background: url('/img/back/boxbg1.jpg')
      }
        .no-skew {
            
            padding: 5%;
          
        }
    }
}
