// used in card

.btn-fb {
    background-color: #3B5998;
    color: $p-color-white;
}

.btn-dribbble {
    background-color: #ec4a89;
    color: $p-color-white;
}

.btn-twitter {
    background-color: #55acee;
    color:$p-color-white;
}

.btn-google {
    background-color: #E2411E;
    color: $p-color-white;
}


// use in menu local task
 
    ul {
        &.task-button {
            li {
                display: inline;

              a {
                  @include reset-a-all($p-color-1,$p-color-white);
                  padding: 3px 10px 3px 10px;
                  background-color: $p-color-4;
                  border-radius: 5px;

                  border: solid $p-color-1 1px;

                  &:hover {
                    background-color: $p-color-1;
                    color: $p-color-white;
                  }
                  &.is-active {
                    background-color: $p-color-1;
                    color: $p-color-white;
                  }
              }

            }
        }
        
    }
