// used in card

.btn-fb {
    background-color: #3B5998;
    color: $p-color-white;
}

.btn-dribbble {
    background-color: #ec4a89;
    color: $p-color-white;
}

.btn-twitter {
    background-color: #55acee;
    color:$p-color-white;
}

.btn-google {
    background-color: #E2411E;
    color: $p-color-white;
}
