/*
Typography
*/
$xs : 0px;
$sm : 576px;
$md : 768px;
$lg : 992px;
$xl : 1200px;



/* Text List */
/* Big Font*/
$big-font-1-min : 48px;
$big-font-2-min : 40px;
$big-font-3-min : 32px;
$big-font-4-min : 24px;
$big-font-5-min : 20px;
$big-font-6-min : 16px;

/* Text Mixin */
@mixin text-1 ($font-size: $bg-font-1) {
    $font-size-min: $bg-font-1-min;
    @include fluid-type(font-size, $min-width-font, $max-width-font, $font-size-min , $font-size);
}
@mixin text-2 ($font-size: $bg-font-2) {
    $font-size-min: $bg-font-2-min;
    @include fluid-type(font-size, $min-width-font, $max-width-font, $font-size-min , $font-size);
}
@mixin text-3 ($font-size: $bg-font-3) {
    $font-size-min: $bg-font-3-min;
    @include fluid-type(font-size, $min-width-font, $max-width-font, $font-size-min , $font-size);
}
@mixin text-4 ($font-size: $bg-font-4) {
    $font-size-min: $bg-font-4-min;
    @include fluid-type(font-size, $min-width-font, $max-width-font, $font-size-min , $font-size);
}
@mixin text-5 ($font-size: $bg-font-5) {
    $font-size-min: $bg-font-5-min;
    @include fluid-type(font-size, $min-width-font, $max-width-font, $font-size-min , $font-size);
}
@mixin text-6 ($font-size: $bg-font-6) {
    $font-size-min: $bg-font-6-min;
    @include fluid-type(font-size, $min-width-font, $max-width-font, $font-size-min , $font-size);
}
/* Mod */

@mixin  text-mod($font-size-min,$font-size) {
    @include fluid-type(font-size, $min-width-font, $max-width-font, $font-size-min , $font-size);
}



/* Text Size Big  */

// set the text font
@mixin font-size-list($name, $font-size) {
    #{$name} {
        //font-size: $font-size !important;
        
        $font-size-min : 16px;

        @if ($font-size == 64px ) {
            $font-size-min: 48px;
        }@else if ($font-size == 56px) {
            $font-size-min: 40px;
        } @else if ($font-size == 48px ){
            $font-size-min: 32px;
        }
        @else if ($font-size == 40px ){
            $font-size-min: 24px;
        }
        @else if ($font-size == 32px ){
            $font-size-min: 20px;
        }@else {
            $font-size-min: 16px;
        }
    
        @include fluid-type(font-size, $min-width-font, $max-width-font, $font-size-min , $font-size);
    }
}

// create it text-1 and ....
@each $name,
$font-size in $bg-font-size {
    @include font-size-list(".text-#{$name}", $font-size);
}


/* Modification */ 
@mixin page-font($font-size : $bg-font-4) {

    $font-size-min: 24px;
    @include fluid-type(font-size, $min-width-font, $max-width-font, $font-size-min , $font-size);
    
}
// title font
@mixin title-font($font-size : $bg-font-6) {
    $font-size-min: 20px;
    @include fluid-type(font-size, $min-width-font, $max-width-font, $font-size-min , $font-size);
}
// title font
@mixin title-1-font($font-size: $title-1){
    font-size: $font-size;
}

@mixin title-sub1-font($font-size: $sub-title-1){
    font-size: $font-size;
}
@mixin title-sub2-font($font-size: $sub-title-2){
    font-size: $font-size;
}
@mixin caption-font($font-size: $caption-font-size){
    font-size: $font-size;
}

.title-sub1 {
    @include title-sub1-font();
}
.title-sub2 {
    @include title-sub2-font();
}
.caption {
    @include caption-font();
}

// article 
.article-post {
    .article-title {
        @include title-font();
    }
    .article-information {
        @include title-sub2-font();
    }

    .article-profile {
        @include title-sub2-font();
    }
        
}
// news tabs

.home-latest {
    .title-news-latest-sub {
        @include caption-font();
    }
    .title-news-latest {
        @include title-1-font();
    }
}

// page title

.page-title {
    @include page-font();
    font-weight: bold;
}

// lead bootstrap

.lead {
    $font-size-min: $normal-font-size;
    @include fluid-type(font-size, $min-width-font, $max-width-font, $font-size-min , $lead-font-size);
}

.content-title {
    font-weight: bold;
    @include text-mod(20px,24px);
}

.content-md-title {
    
    @include text-mod(16px,18px);
}