/*
FOOTER
*/

@mixin a-light-footer {

    color: $p-color-darken;
    opacity: 50%;
    @include a-hover ($p-color-white);

    &:hover {
        opacity: 100%;
    }

}

@mixin a-dark-footer {

    color: $p-color-lighten;
    opacity: 50%;
    @include a-hover ($p-color-black);

    &:hover {
        opacity: 100%;
    }
}

footer {
 
    .footer {
        
        img {
            @include img-100;
        }

        ul {

            padding: 14px;
            list-style: square;

            li {
                padding-left: 12px;
                opacity: 60%;
            }
        }
        .footer-message,
        .footer-text,
        .footer-count-title,
        .footer-info-address {
            opacity: 60%;
        }

        .footer-news-title {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .footer-news-date {
            opacity: 60%;
            padding-bottom: 10px;
            border-bottom: solid 1px $p-color-white;

        }
        .footer-links {

            &.a-light {
                a {
                    @include reset-a-all($p-color-white, $p-color-1);
                }
            }

            &.a-dark {
                a {
                    @include reset-a-all($p-color-black, $p-color-lighten);
                }
            }
        }

        .footer-nav-header {
            letter-spacing: 1px;
        }

        .footer-minimal {

            .a-light {
                a {
                    @include a-light-footer();
                }
            }

            .a-dark {
                a {
                    @include a-dark-footer();
                }
            }

        }
    }

    &.light-footer {
        background-color: $p-color-4;

        .footer-company-name,
        .footer-message,
        .footer-copyright,
        .footer-links,
        .footer-info,
        .footer-text,
        .footer-info-address {
            color: $p-color-lighten;
        }
    }

    &.dark-footer {
        background-color: $p-color-lighten;

        .footer-company-name,
        .footer-message,
        .footer-copyright,
        .footer-links,
        .footer-info,
        .footer-text,
        .footer-info-address {
            color: $p-color-white;
        }
    }

    .mega-footer {

        .footer-info {
            text-transform: uppercase;
        }
    }
}