/* Dupela Form */

$max-width: 500px;

// icon and button for the background
.button-icon-login {

    button {
        color: $p-color-white !important;
        margin-left: 2px;

        @include media-breakpoint-down(lg) {

            margin-top: 4px;
        }
    }
}

$form-contact-max-width: $max-width;


// login max width
.form-login {
    max-width: $max-width;
}

// form wrapper
.form-login,
.form-contact-us {

    padding: 20px;

    @include media-breakpoint-down(lg) {
        padding: 10px;
    }

}

// contact us max width 
.form-contact-us {
    max-width: $form-contact-max-width;
}
