//small device link indicator needed
header {


    // row
    .row {
      @include reset-margin;
    }
  
    // top header
    .top-header {
      max-width: $max-width;
      height: 50px;
  
      .logo-top-header {
        height: 40px;
        width: 40px;
        background-image: url(../img/Dupela40x40Black.png);
      }
  
      // col
      .col {
        @include reset-padding;
      }
  
      // social design
      .social-wrap {
        font-size: 14px;
  
        a {
          @include a-color($p-color-white);
          @include a-hover($p-color-1);
        }
      }
  
      // company name
      .company-name {
        font-size: 20px;
      }
  
      // search update modification
      .active-search {
        height: 50px;
  
        input[type=search] {
          border: none;
          box-shadow: none;
          background-color: $p-color-lighten;
          color: white;
          height: 30px;
          width: 100%;
        }
     

        // button icon
        input[type=submit] {
          height: 30px;
          width: 30px;
          
          &:focus {
            box-shadow: none;
          }
        }
      }
  
      // social media links

      .dropdown {
       
        .dropdown-menu {
         
          position: absolute;
          a {
            margin-left: 5px;
            font-size: 15px;
            @include a-color($p-color-black);
            @include a-hover($p-color-1);
          }
        }
      }
  
  
    }
  
    // bottom header
    .bottom-header {
      max-width: $max-width;
   
      /* Nav var */
      .navbar {
    
        .navbar-nav {
         
          @include media-breakpoint-down(lg) {
            overflow-y: auto !important;
            max-height: 300px !important;
          }

          @include media-breakpoint-down(md) {
            overflow-y: auto !important;
            max-height: 250px !important;
          }
  

          @include media-breakpoint-down(md) {
            padding-bottom: 5px;
          }
  
          .nav-link {
  
            @include media-breakpoint-up(lg) {
              margin-left: 20px;
              margin-right: 20px;
              padding-top: 20px;
              padding-bottom: 20px;
              border-top: solid 5px $p-color-4;
            }
  
            @include media-breakpoint-down(md) {
              
              padding-top: 5px;
              padding-bottom: 5px;
              margin-bottom: 10px;
              padding-left: 10px;
            
  
            }
  
            font-size: 1em;
            text-transform: uppercase;
            font-weight: bold;
  
            &:hover {
              @include media-breakpoint-up(lg) {
                border-top: solid 5px $p-color-1;
              }
  
              @include media-breakpoint-down(md) {
                border-left: solid 5px $p-color-1;
              }
  
              color: $p-color-black;
            }
  
          }
  
          
          .active {
            .nav-link {
              @include media-breakpoint-up(lg) {
                border-top: solid 5px $p-color-1;
              }
             
              @include media-breakpoint-down(md) {
                border-left: solid 5px $p-color-1;
              }
            }

          }


        }
  
        .navbar-brand {
          padding: .65rem;
        }
  
        .navbar-toggler {
          margin: .65rem;
          padding: .60rem;
        }
  
        // dropdown
        .dropdown {
  
          padding: 0;

         
          .dropdown-menu {
  
            @include media-breakpoint-up(lg) {
              padding: 10px;
            }
  
            @include media-breakpoint-down(md) {
              padding: 10px;
            }

            .below-active {
              
              .dropdown-item {
               
                border-left: 3px solid $p-color-1;
              }
            }
  
            .dropdown-item {
  
              @include media-breakpoint-down(md) {
                padding-left: 4px;
              }
  
              &:hover {
                border-left: 3px solid $p-color-1;
              }

              
      
            }
          }
        }
  
      }
    }
  
    .logo {
      background-image: url(../img/DupelaLogo40x40.png);
      background-repeat: no-repeat;
      margin-top: 5px;
      width: 40px;
      height: 40px;
      float: left;
    }
  }