/* icons */
/* icon width */
$icon-xl : 80px;
$icon-lg : 60px;
$icon-md: 30px;
$icon-sm: 20px;
// icon no 

@mixin icon-color($name,$color) {
  #{$name} {
      color: $color;
  }
  
}

@each $name, $color in $bg-colors {
  @include icon-color(".icon-color#{$name}", $color);

}

// icon size
$icon-width: (
 "-xl": $icon-xl,
"-lg": $icon-lg,
"-md": $icon-md,
"-sm": $icon-sm
);

@mixin  icon-size($name,$width) {

  #{$name} {
      font-size: $width;
      border-width: 2px;
  }
  
}

@each $name, $width in $icon-width {
  @include icon-size(".icon#{$name}",$width);
}

@each $name, $width in $icon-width {
  @include icon-size(".icon-title#{$name}",$width);
}


.page-icons-wrap {
  margin-left: 12px;
  margin-right: 12px;
}

.box {
  padding: 2px;
  display: flex;
  flex-direction: row;

  .box-title {
    padding: 2px;
  }

  .box-item {
    padding: 2px;
    width: 75px;
  }
}