
$width-mega-menu : auto;
$margin-active : false;

@if $width-mega-menu == auto {

    $margin-active : false;
} @else {
    $margin-active : true;
}
$center-position-mega-menu: (100% - $width-mega-menu) / 2;


.navbar .mega-dropdown {
    position: static;
    
    .dropdown-menu {
        &.mega-menu {
            width: $width-mega-menu;
           /* check if it set to auto */
            @if $margin-active == true {
                margin-left: $center-position-mega-menu;
                margin-right: $center-position-mega-menu;
            }@else {
                left: 45%;
                right: auto;
            }
           
            .sub-menu {
               
                border-right: solid 1px $p-color-3;

                @include media-breakpoint-down(xs) {
                    border-right: none;
                }

                .menu-item {
                    padding-right: 2vw;
                    li {
                        padding-left: 2%;
                    }
                }
            }

            .sub-menu:last-of-type {
                border-right: none;
            }
           
        }
    }
  
}
