<!-- Top Header -->
<div class="top-header-wrap content-area mx-auto">
	<div class="top-header p-2">
		<div
			class="row no-gutters">
			<!-- Logo -->
			<div class="col text-white company-name d-none d-lg-block">
				
						{{ page.header_first}}
			</div>
			<!-- Social Links -->
			<div
				class="col col-lg-auto social-wrap d-none d-md-block">

				<!-- Social -->
				<a href="https://www.facebook.com/">
					<span class="fab fa-facebook fa-2x"></span>
				</a>
				<a href="#" class="">
					<span class="fab fa-twitter fa-2x"></span>
				</a>
				<a href="#" class="">
					<span class="fab fa-youtube fa-2x"></span>
				</a>
				<a href="#" class="">
					<span class="fab fa-github fa-2x"></span>
				</a>
				<a href="#" class="">
					<span class="fab fa-discord fa-2x"></span>
				</a>
				<a href="#" class="">
					<span class="fas fa-user fa-2x"></span>
				</a>
			</div>
			<!-- Nav Social on small device-->
			<div class="col col-lg-auto active-search ml-2">
				<div
					class="float-left  d-sm-block d-md-none">
					<!-- Navigation on Social on Smal Device -->
					<div class="dropdown">
						<a class="btn dropdown-toggle btn-sm color-white" href="#" role="button" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="fas fa-bullhorn fa-1x"></span>
						</a>

						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
							<div class="social-design dropdown-item">
								<!-- Reuse social links -->

								<!-- Social -->
									<a href="https://www.facebook.com/"> <span class="fab fa-facebook fa-2x"></span>
								</a>
								<a href="#" class="">
									<span class="fab fa-twitter fa-2x"></span>
								</a>
								<a href="#" class="">
									<span class="fab fa-youtube fa-2x"></span>
								</a>
								<a href="#" class="">
									<span class="fab fa-github fa-2x"></span>
								</a>
								<a href="#" class="">
									<span class="fab fa-discord fa-2x"></span>
								</a>
								<a href="#" class="">
									<span class="fas fa-user fa-2x"></span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- form Search -->
				{{ page.header_search}}
				
			</div>
		</div>
	</div>
</div>
