<form>
  <div class="form-group">
    <label for="fnameContactus">First Name</label>
    <input type="text" class="form-control" id="fnameContactus" placeholder="Your First Name">
  </div>

  <div class="form-group">
    <label for="lnameContactus">Last Name</label>
    <input type="text" class="form-control" id="lnameContactus" placeholder="Your Last Name">
  </div>

  <div class="form-group">
    <label for="messageContactus">Message</label>
    <textarea class="form-control" id="messageContactus" rows="3" placeholder="Your Message Here"></textarea>
  </div>

  <div class="form-group">
    <label for="emailContactus">E-Mail</label>
    <input type="text" class="form-control" id="emailContactus" placeholder="example.domain.com">
  </div>

  <div class="g-recaptcha mb-2" data-sitekey="6Lf9jeAUAAAAAH0TUHBt_tKc5CBcrbmqYNjDOd3K"></div>

  <div class="form-group ml-auto text-color-white">
    <button type="submit" class="btn btn-primary">Send Message</button>
  </div>
</form>