<section class="section">
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="font-weight-bold inset-top-3 text-4">Inform Us</div>
        <p class="lead inset-bottom-3">Lorem ipsum dolor sit amet, consectetur adipisicing
          elit. Assumenda deleniti eaque eum exercitationem
          fugit in, ipsum, itaque minus eum exercitationem</p>
  
          <form>
            <div class="form-group row no-gutters">
      
              <div class="col-12 col-sm-8 col-md-9 p-2">
                <input type="email" class="form-control" id="emailAddress"
                  placeholder="emailname@example.com">
              </div>
      
              <div class="col-12 col-sm-4 col-md-3 p-2">
                <button type="submit" class="form-control btn btn-outline-primary">Subscribe</button>
              </div>
      
            </div>
          </form>
      </div>
    </div>
  </div>  
</section>
